<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/reset_password.css">
    <th:block th:if="${flag} == 'common'">
	    <link th:replace="fragment/header/auth_header_css :: auth_header_css">
   	</th:block>
   	<th:block th:if="${flag} == 'company'">
	    <link th:replace="fragment/header/company_auth_header_css :: company_auth_header_css">
   	</th:block>
    <link rel="short icon" href="/static/images/favicon.png">
    <script src="https://kit.fontawesome.com/9caa3067ac.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <th:block th:if="${flag} == 'common'">
	        <header th:replace="fragment/header/auth_header :: auth_header"></header>
    	</th:block>
    	<th:block th:if="${flag} == 'company'">
	        <header th:replace="fragment/header/company_auth_header :: company_auth_header"></header>
    	</th:block>
        <main>
            <div class="input_email">
                <div class="input_email_title">
                    <span>리멤버 계정(이메일)을 입력하세요</span>
                </div>
                <div class="form_box">
                    <div class="input_email_content">
                        <i class="fa fa-envelope-o fa-lg fa-fw"></i>
                        <input type="email" placeholder="계정(이메일) 입력">
                    </div>
                    <button type="button" class="next-button">다음</button>
                    <div class="input_email_footer">
                        <span>계정을 모르시나요? <a href="/auth/inquiry">고객센터로 문의</a></span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>