<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/signin.css">
    <th:block th:if="${flag} == 'common'">
	    <link th:replace="fragment/header/auth_header_css :: auth_header_css">
   	</th:block>
   	<th:block th:if="${flag} == 'company'">
	    <link th:replace="fragment/header/company_auth_header_css :: company_auth_header_css">
   	</th:block>
    <link rel="short icon" href="/static/images/favicon.ico">
</head>

<body>
    <div class="container">
    	<th:block th:if="${flag} == 'common'">
	        <header th:replace="fragment/header/auth_header :: auth_header"></header>
    	</th:block>
    	<th:block th:if="${flag} == 'company'">
	        <header th:replace="fragment/header/company_auth_header :: company_auth_header"></header>
    	</th:block>
        <main>
            <div class="login">
                <div class="login-type">
                    <h1>로그인 방법을 선택하세요</h1>
                    <a class="btn btn1" href="/auth/signin/phone">휴대폰 번호로 로그인</a>
                    <span class="or-txt">또는</span>
                    <a class="btn btn2" href="/oauth2/authorization/naver">네이버로 로그인</a>
                    <a class="btn btn3" href="/oauth2/authorization/google">Google로 로그인</a>
                    <a class="btn btn5" href="/auth/signin/email">이메일로 로그인</a>
                </div>
            </div>
            <div class="login_link">
                <span>리멤버가 처음인가요?&nbsp;<a href="/auth/signup">회원가입</a></span>
            </div>
        </main>
    </div>
</body>

</html>