header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(33, 35, 34);
    background-color: rgb(33, 35, 34);
}

.logo {
    height: 20px;
}

.logo>img {
    height: 100%;
}