<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/card/header.css">
    <link rel="stylesheet" href="/static/css/card/footer.css">
    <link rel="stylesheet" href="/static/css/card/home.css">
    <link rel="stylesheet" href="/static/css/card/card_modal.css">
    <script src="https://kit.fontawesome.com/a29a2deeae.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax_functions.js"></script>
    <script type="text/javascript" src="/static/js/common_functions.js"></script>
    <script type="text/javascript" src="/static/js/get_principal.js"></script>
</head>

<body>

    <div class="container">
        <header th:replace="fragment/header/card_header :: card_header"></header>
        
        <main>
            <div class="register_profile_banner">
                <div class="banner_wrapper">
                    <div class="banner_message">
                        <img src="/static/images/register_profile_banner_img.png" alt="">
                        <span class="banner_text">아직 이직 생각 없어도,</span>
                        <span class="banner_text_accent">프로필 등록하고 <strong>스카웃 제안</strong> 받아보세요!</span>
                    </div>
                    <button type="button" class="register_button">
                        <span class="banner_text_accent">프로필 등록하기</span>
                        <img src="/static/images/mypage_banner_right_arrow.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="contents">
                <aside class="side_bar">
                    <div class="my_business_card">
                        <button type="button" class="register_business_card">
                            <div class="inner">
                                <img src="/static/images/register_business_card_icon.png">
                                <span class="side_bar_text">본인의 명함을 등록하세요</span>
                            </div>
                        </button>
                        <button type="button" class="side_bar_card_menu">
                            <span class="side_bar_text">내 명함</span>
                        </button>
                        <button type="button" class="side_bar_card_menu">
                            <span class="side_bar_text">커리어 프로필</span>
                            <img src="/static/images/mypage_side_bar_link_icon.svg">
                        </button>
                    </div>
                    <div class="my_card_book">
                        <button type="button" class="title">
                            <span class="title_text">내 명함첩</span>
                        </button>
                        <button type="button" class="add_group_button">
                            <span class="add_group_text">그룹</span>
                            <img src="/static/images/add_card_group_icon.png">
                        </button>
                        <div class="add_group">
                        	
                        </div>
                        <button type="button" class="card_group">
                            <span class="group_text">모든 명함 (<span class="whole_count"></span>)</span>
                        </button>
                        
                    </div>
                </aside>
                <div class="main_contents">
                    
                </div>
            </div>
        </main>
        
        <footer th:replace="fragment/footer/card_footer :: card_footer"></footer>
    </div>
    
    <script type="text/javascript" src="/static/js/card/card.js"></script>
    <script type="text/javascript" src="/static/js/card/set_header.js"></script>
</body>

</html>