<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/card/header.css">
    <link rel="stylesheet" href="/static/css/card/footer.css">
    <link rel="stylesheet" href="/static/css/card/team.css">
    <link rel="stylesheet" href="/static/css/card/card_modal.css">
    <link rel="stylesheet" href="/static/css/card/team_modal.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/card/ajax_functions.js"></script>
    <script type="text/javascript" src="/static/js/card/common_functions.js"></script>
    <script type="text/javascript" src="/static/js/get_principal.js"></script>
</head>

<body>
    <div class="container">
        <header th:replace="fragment/header/card_header :: card_header"></header>
        
        <main>
            <div class="main_wrapper">
            	<aside class="menus">
            		<div class="team_menu">
            			<span class="title">조직</span>
            			<div class="team_info">
            				<span class="team_name"></span>
            			</div>
            			<hr>
            			<div class="buttons">
	            			<button type="button" class="members">
	            				<img src="/static/images/card_team_members.png">
	            				<span>조직 구성원</span>
	            			</button>
	            			<button type="button" class="team_manage">
	            				<img src="/static/images/card_team_manage.png">
	            				<span>조직 관리</span>
	            			</button>
	            			<button type="button" class="change_team">
	            				<img src="/static/images/card_team_change_team.png">
	            				<span>다른 조직 선택</span>
	            			</button>
            			</div>
            		</div>
            		<div class="upgrade_goods">
            			<span class="text big">상품 업그레이드 하기</span>
            			<span class="text">더 많은 기능을 알아보세요</span>
            		</div>
            		<div class="team_description">
            			<div class="card_books">
	            			<span class="title">명함첩</span>
	            			
	            			<button type="button" class="add_new_card_book">+ 명함첩 추가</button>
            			</div>
            			<div class="groups">
            				<button type="button" class="add_new_group">
            					<span>그룹</span>
            					<img src="/static/images/add_card_group_icon.png">
            				</button>
            				<button type="button" id="whole_cards" class="group">
	                            <span class="group_text">모든 명함 (<span class="whole_count">0</span>)</span>
	                        </button>
            			</div>
            		</div>
            		<div class="buttons">
            			<button type="button" class="card_book_members_button">
            				<img src="/static/images/card_book_members.png">
            				<span>명함첩 참여자</span>
            			</button>
            			<button type="button" class="card_book_settings_button">
            				<img src="/static/images/card_book_settings.png">
            				<span>명함첩 설정</span>
            			</button>
            		</div>
            		<div class="storage"></div>
            	</aside>
            	
				<div class="main_contents">
            	
				</div>
            	
            </div>
        </main>
        
        <footer th:fragment="fragment/footer/card_footer :: card_footer"></footer>
    </div>
    
    <script src="/static/js/card/set_header_for_team.js"></script>
    <script src="/static/js/card/team.js"></script>
</body>

</html>