<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/card/header.css">
    <link rel="stylesheet" href="/static/css/card/footer.css">
    <link rel="stylesheet" href="/static/css/card/team_empty.css">
    <link rel="stylesheet" href="/static/css/card/team_empty_modal.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/ajax_functions.js"></script>
    <script type="text/javascript" src="/static/js/get_principal.js"></script>
</head>

<body>
    <div class="container">
        <header th:replace="fragment/header/card_header :: card_header"></header>
        
        <main>
            <div class="start_free_banner">
                <div class="texts">
                    <span class="title">소중한 회사의 영업자산</span>
                    <span class="title">팀 명함첩으로 관리하세요!</span>
                    <span class="summary">기업용 명함관리 솔루션, 팀 명함첩</span>
                    <button type="button" class="start_free_button">지금 바로 무료로 시작하기</button>
                </div>
                <div class="banner_image">
                    <img src="/static/images/mycard_books.png" alt="">
                </div>
            </div>
            <div class="no_team_contents">
                <div class="column">
                    <div class="cell">
                        <div class="title">
                            <span class="text">임직원의 변동에도</span>
                            <span class="text">정보 유실없이 안전하게</span>
                        </div>
                        <div class="summary">
                            <span class="text">임직원의 부서이동 및 퇴사에도</span>
                            <span class="text">고객 정보가 유실없이 안전하게 관리되며,</span>
                            <span class="text">손쉽게 고객 정보를 인수인계 할 수 있습니다</span>
                        </div>
                        <div class="cell_image">
                            <img src="/static/images/mycard_books_cell1.png" alt="">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="title">
                            <span class="text">언제 어디서나 찾아볼 수 있어</span>
                            <span class="text">업무 효율성 증대</span>
                        </div>
                        <div class="summary">
                            <span class="text">언제 어디서나 찾아볼 수 있어</span>
                            <span class="text">거래처 연락처를 물어보고 찾아주는</span>
                            <span class="text">업무의 비효율을 줄일 수 있습니다</span>
                        </div>
                        <div class="cell_image">
                            <img src="/static/images/mycard_books_cell2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="cell">
                        <div class="title">
                            <span class="text">연락처부터 미팅 이력까지</span>
                            <span class="text">함께 관리되는 영업 DB</span>
                        </div>
                        <div class="summary">
                            <span class="text">누가 언제 누구를 만났는지의 정보가 등록되며,</span>
                            <span class="text">미팅 내용 및 인물의 특이사항을 메모하고</span>
                            <span class="text">필요한 구성원에게 알려줄 수 있습니다</span>
                        </div>
                        <div class="cell_image">
                            <img src="/static/images/mycard_books_cell3.png" alt="">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="title">
                            <span class="text">회사 내 명함 정보를 모아</span>
                            <span class="text">신규 영업 기회 발굴에 활용</span>
                        </div>
                        <div class="summary">
                            <span class="text">회사의 과거 영업 이력과</span>
                            <span class="text">구성원들이 업무상 만나온 인적 네트워크를 활용하여</span>
                            <span class="text">새로운 영업 기회를 발굴할 수 있습니다</span>
                        </div>
                        <div class="cell_image">
                            <img src="/static/images/mycard_books_cell4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <footer th:fragment="fragment/footer/card_footer :: card_footer"></footer>
    </div>
    <script src="/static/js/card/load_header.js"></script>
    <script src="/static/js/card/team_empty.js"></script>
</body>

</html>