<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>네이버 로그인</title>
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/card/ajax_functions.js"></script>
    <script type="text/javascript" src="/static/js/card/common_functions.js"></script>
    <script type="text/javascript" src="/static/js/get_principal.js"></script>
	</head>
<body>
	<script src="/static/js/card/user_set_redirect.js"></script>
</body>
</html>