html[lang=ko] body {
    font-family: SF Pro KR,SF Pro Display,Apple SD Gothic Neo,Segoe UI,SegoeUI,Nanum Barun Gothic,\\B9D1\C740\ACE0\B515,malgun gothic,\\B3CB\C6C0,dotum,sans-serif;
}

#root {
    height: 100;
}

body{
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}

div{
    display: block;
}

*{
    box-sizing: border-box;
}

.app {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    overflow-y: hidden;
}

.app img {
    vertical-align: baseline;
}

.onBoardingLayout {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.outsideNavigation {
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.outsideNavigation_logo {
    display: inline-block;
    height: 30px;
    margin: 10px auto;
}

.outsideNavigation_logo-image {
    height: 30px;
    cursor: pointer;
}

.onBoardingLayout_Content{
    height: calc(100% - 50px);
}

.onBoardingContent{
    margin: 0 28px;
    padding: 40px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onBoardingContent_Title{
    font-size: 24px;
    color: #000;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.onBoardingButton {
    width: 504px;
    height: 48px;
    padding: 0px 15px;
    height: 48px;
    font-size: 15px;
    color: #fff;
    background-color: #333;
    border-color: #333;
    outline: 0;
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
}