@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

body {
    font-family: 'nanumgothic';
    font-size: 15px;
    color: #222;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    height: 100vh;
}

.header {
    text-align: center;
    border-bottom: 1px solid rgb(229, 229, 230);
    background-color: #fff;
    padding: 6px 0;
}

.header img {
    width: 75px;
    height: auto
}

.agreebox input[type=checkbox] {
    display: none;
}


.footer {
    padding: 5px;
    margin-top: 20px;
}
