@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup {
    width: 350px;
}

.header {
    text-align: center;
    border-bottom: 1px solid rgb(229, 229, 230);
    background-color: #fff;
    padding: 6px 0;
}

.header img {
    width: 75px;
    height: auto
}

.signup-type {
    text-align: center;
}


.signup-type h1 {
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-size: 26px;
    text-align: center;
    font-weight: 550;
}

a.btn {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 1px;
    font-size: 15px;
    height: 48px;
    line-height: 48px;
    opacity: 1.5;
    margin-bottom: 10px;
    position: relative;
}

a.btn:hover {
    opacity: 0.7;
}


a.btn1 {
    background-color: rgb(96, 208, 77);
}

a.btn2 {
    border: 1px solid rgb(204, 204, 205);
    background-color: #fff;
    color: #222;
}


a.btn3 {
    border: 1px solid rgb(204, 204, 205);
    background-color: #fff;
    color: #222;
}


a.btn1::before {
    content: url(/static/images/btn2.png);
    position: absolute;
    left: 12px;
    top: 5px;
}

a.btn2::before {
    content: url(/static/images/btn3.png);
    position: absolute;
    left: 12px;
    top: 5px;
}


a.btn3::before {
    content: url(/static/images/btn5.png);
    position: absolute;
    left: 12px;
    top: 5px;
}


.footer {
    padding: 5px;
    margin-top: 30px;
    font-size: 14px;
}

.footer a {
    font-weight: bold;
    color: #222;
}

.remember-user {
    text-align: center;
}

.login_link {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.login_link>span {
    font-size: 15px;
    color: #333;
    line-height: 22.5px;
}

.login_link>span>a {
    font: inherit;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}