<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="../../static/css/login_phone.css">
    <link rel="shortcut icon" href="../../static/images/favicon.png">
</head>
<body>
   <div class="root">
       <div class="app">
           <div class="onBoardingLayout">
               <div class="outsideNavigation">
                        <span class="outsideNavigation_logo">
                            <img class="outsideNavigation_logo-image" src="../../static/images/navigation_logo.png" alt="logo">
                        </span>
                </div>
            <div class="onBoardingLayout_Content">
                <div class="onBoardingContent">
                    <div class="onBoardingContent_Title">
                        <span>
                            회원가입 시 인증한
                            <br>
                            휴대폰 번호를 입력하세요
                        </span>
                    </div>
                    <div class="onBoardingContent_Content">
                        <form class="phoneNumberForm">
                            <div class="phoneNumberForm_InternationalCode">
                                <div class="select_Wrapper">
                                    <div class="selected_value" title="+82" style="display: block; opacity: 1;">+82</div>
                                </div>
                            </div>
                            <div class="phoneNumberForm_NationalCode">
                                <div class="input_Wrapper">
                                    <input type="text" placeholder="휴대폰 번호 입력" id="nationalNumber" value="">
                                </div>
                            </div>
                            <button type="button" class="onBoardingButton">
                                <span>인증번호 전송</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>