<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/auth/header.css">
    <link rel="stylesheet" href="/static/css/auth/signup/terms.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src="/static/images/signup_logo.png">
            </a>
        </header>
        <main>
            <div class="title">
                <span>회원가입을 위해</span>
                <span>약관에 동의해주세요</span>
            </div>
            <form class="terms_form">
                <div class="checkbox_wrapper all">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text bold">모두 동의합니다</span>
                    </div>
                </div>
                <div class="checkbox_wrapper">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text">만 14세 이상입니다 (필수)</span>
                    </div>
                    <button type="button" class="terms_detail_modal_button">보기</button>
                </div>
                <div class="checkbox_wrapper">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text">이용약관 (필수)</span>
                    </div>
                    <button type="button" class="terms_detail_modal_button">보기</button>
                </div>
                <div class="checkbox_wrapper">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text">개인정보 수집 및 이용에 대한 안내 (필수)</span>
                    </div>
                    <button type="button" class="terms_detail_modal_button">보기</button>
                </div>
                <div class="checkbox_wrapper">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text">개인정보 유효기간을 탈퇴 시 까지로 설정 (필수)</span>
                        <span class="text small">별도로 설정하지 않는 경우 1년으로 설정됩니다</span>
                    </div>
                    <button type="button" class="terms_detail_modal_button">보기</button>
                </div>
                <div class="checkbox_wrapper">
                    <input type="checkbox" class="checkbox">
                    <div class="text_wrapper">
                        <span class="text">리멤버 혜택 알림 수신 동의 (선택)</span>
                    </div>
                    <button type="button" class="terms_detail_modal_button">보기</button>
                </div>
                <button type="button" class="submit_button" disabled>다음</button>
            </form>
            <div class="login_link">
                <span>기존에 리멤버를 사용하셨나요?&nbsp;<a href="#">로그인</a></span>
            </div>
        </main>
    </div>
</body>

</html>