<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/signin/email.css">
    <th:block th:if="${flag} == 'common'">
	    <link th:replace="fragment/header/auth_header_css :: auth_header_css">
   	</th:block>
   	<th:block th:if="${flag} == 'company'">
	    <link th:replace="fragment/header/company_auth_header_css :: company_auth_header_css">
   	</th:block>
    <link rel="short icon" href="/static/images/favicon.png">
    <script src="https://kit.fontawesome.com/9caa3067ac.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <th:block th:if="${flag} == 'common'">
	        <header th:replace="fragment/header/auth_header :: auth_header"></header>
    	</th:block>
    	<th:block th:if="${flag} == 'company'">
	        <header th:replace="fragment/header/company_auth_header :: company_auth_header"></header>
    	</th:block>
        <main>
            <span class="input_email">계정(이메일)과 비밀번호를 입력하세요</span>
                <form class="form-box" action="/auth/signin" method="post">
                    <div class="input-box box1">
                        <i class="fa fa-envelope-o fa-lg fa-fw"></i>
                        <input type="email" name="username" placeholder="계정(이메일) 입력">
                    </div>
                    <div class="input-box box2">
                        <i class="fa fa-lock fa-lg fa-fw"></i>
                        <input type="password" name="password" placeholder="비밀번호 입력">
                    </div>
                    <button type="submit" class="login_button">로그인</button>
                </form>
                <div class="login_footer">
                    <a href="/auth/account">계정 찾기</a>
                    <div class="seperator"></div>
                    <a href="/auth/password">
                        <span>비밀번호 재설정</span>
                    </a>
                </div>
        </main>
    </div>
</body>

</html>