<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/header.css">
    <link rel="stylesheet" href="/static/css/auth/signin/phone_signin.css">
    <link rel="shortcut icon" href="/static/images/favicon.png">
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src="/static/images/signup_logo.png">
            </a>
        </header>
        <main>
            <div class="main_wrapper">
                <div class="title">
                    <span class="text">회원가입 시 인증한</span>
                    <span class="text">휴대폰 번호를 입력하세요</span>
                </div>
                <form class="input_wrapper">
                    <div class="phone_number">
                        <select name="" class="select_box">
                            <option value="">+82</option>
                        </select>
                        <input type="text" class="phone" name="phone" placeholder="휴대폰 번호 입력">
                    </div>
                    <button type="button" class="submit_button">인증번호 전송</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>