<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 나우</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/now/header.css">
    <link rel="stylesheet" href="/static/css/now/footer.css">
    <link rel="stylesheet" href="/static/css/now/article_list.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/now/principal.js"></script>
    <script src="/static/js/now/request_flag.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/static/images/remember_now_logo.png">
            </div>
            <div class="searcher">
                <div class="search_input_wrapper">
                    <img src="/static/images/mypage_searcher_icon.png">
                    <input type="text" class="keyword_input" placeholder="콘텐츠 검색">
                </div>
            </div>
        </header>
        <main>
            <nav class="category_nav">
                <a href="/now" class="category active">전체</a>
            </nav>
            <div class="article"></div>
                <div class="pager">
                    <button type="button" class="prev_page" >
                        <img src="/static/images/remember_now_pager_prev.png">
                    </button>
                    
                    <button type="button" class="next_page">
                        <img src="/static/images/remember_now_pager_next.png">
                    </button>
            	</div>
        </main>
        <footer>
            <div class="footer_wrapper">
                <a href="#" class="footer_logo">
                    <img src="/static/images/community_remember_now_logo.webp">
                </a>
                <span class="footer_text">'리멤버 나우'는 '직장인 필수앱 리멤버'가 제공합니다.</span>
                <div class="footer_links">
                    <a href="#" class="link">회사 소개</a>
                    <a href="#" class="link">리멤버 앱 다운로드</a>
                    <a href="#" class="link">광고상품</a>
                    <a href="#" class="link">문의하기</a>
                </div>
                <button type="button" class="related_services">
                    <span class="text">관련서비스</span>
                    <img src="/static/images/icon_arrow_down_black.svg">
                </button>
            </div>
        </footer>
    </div>
      <script src="/static/js/now/load_total_article_count.js"></script>
      <script src="/static/js/now/load_article_list.js"></script>
      <script src="/static/js/now/home.js"></script>
      <script src="/static/js/now/footer.js"></script>
</body>

</html>