main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main>.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>.title>span {
    font-size: 28px;
    font-weight: 500;
    color: black;
    line-height: 36px;
}

.terms_form {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.checkbox_wrapper {
    padding: 22px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.checkbox_wrapper.all {
    border-bottom: 1px solid #e5e5e5;
}

.checkbox_wrapper>.checkbox {
    margin-right: 8px;
    min-width: 16px;
    height: 16px;
    appearance: none;
    background: url("/static/images/signup_unchecked_checkbox.png");
    transition: 500ms;
}

.checkbox_wrapper:hover>.checkbox {
    background: url("/static/images/signup_hover_checkbox.png");
}

.checkbox_wrapper>.checkbox:checked {
    background: url("/static/images/signup_checked_checkbox.png");
}

.text_wrapper {
    padding: 0 8px;
}

.text_wrapper>.text {
    display: block;
    font-size: 15px;
    color: #333;
    letter-spacing: 1px;
    white-space: pre-line;
    word-break: keep-all;
}

.text_wrapper>.text.bold {
    font-weight: 700;
}

.text_wrapper>.text.small {
    font-size: 11px;
}

.terms_detail_modal_button {
    margin-left: auto;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    cursor: pointer;
}

.submit_button {
    margin-top: 24px;
    width: 100%;
    height: 48px;
    background-color: #333;
    font-size: 15px;
    color: white;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}

.submit_button:disabled {
    border: 1px solid #D9D9D9;
    background-color: #F5f5F5;
    color: rgba(0, 0, 0, 0.25);
}

.login_link {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.login_link>span {
    font-size: 15px;
    color: #333;
    line-height: 22.5px;
}

.login_link>span>a {
    font: inherit;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}