<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 채용 솔루션</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/company.css">
    <link rel="stylesheet" href="/static/css/auth/header_company.css">
    <link rel="short icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/community/footer.css">
</head>

<body>
    <div class="container">
        <header th:replace="fragment/header/company_auth_header :: company_auth_header"></header>
        <main>
            <div class="company_auth">
                <div class="company_auth_title">
                    <h2>
                        서비스를 이용하기 위해
                        <br>
                        리멤버 계정으로 로그인해 주세요
                    </h2>
                </div>
                <div class="company_auth_content">
                   <div class="signin_box">
                        <div class="signin_txt">
                            <span>이미 회원이라면?</span>
                            <h4>로그인 하기</h4>
                        </div>
                   </div>
                   <div class="signup_box">
                        <div class="signup_txt">
                            <span>리멤버를 처음 이용하시나요?</span>
                            <h4>회원가입 하기</h4>
                        </div>
                   </div>
                </div>
                <p class="info_txt">기업용 계정을 새로 만들 필요 없이 가입하신 리멤버 계정으로 로그인 하세요</p>
            </div>
        </main>
        <footer>
            <div class="footer_wrapper">
                <div class="links">
                    <a href="#">회사소개</a>
                    <a href="#">인재검색</a>
                    <a href="#">채용공고</a>
                    <a href="#">프로필 등록</a>
                    <a href="#">이용약관</a>
                    <a href="#" class="bold">개인정보처리방침</a>
                    <a href="#">도움말</a>
                    <a href="#">문의하기</a>
                    <button type="button" class="relate_service_modal">
                        <span class="text">관련 서비스</span>
                        <span class="arrow"></span>
                    </button>
                </div>
                <div class="copyrights">
                    <span class="row">대표전화 : 02-556-4202</span>
                    <span class="row">06158 서울시 강남구 테헤란로79길 6, 6층 (삼성동, 제이에스타워) (대표자:최재호) 사업자등록번호 : 211-88-81111</span>
                    <div class="row">
                        <a href="#" class="company_number">통신판매업 신고번호: 2016-서울강남-03104호</a>
                        <span class="company_number">직업정보제공사업 신고번호: 서울강남 제2019-11호</span>
                        <span class="company_number">유료직업소개사업 신고번호: 2020-3220237-14-5-00003</span>
                    </div>
                    <span class="row">Copyright 2019. Drama & Company All rights reserved.</span>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/auth/company.js"></script>
</body>
</div>
</html>