<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/auth/service_center.css">
    <link rel="stylesheet" href="/static/css/auth/header.css">
    <link rel="short icon" href="/static/images/favicon.png">
</head>

<body>
    <div class="container">
        <header>
            <a href="#" class="logo">
                <img src="/static/images/signup_logo.png">
            </a>
        </header>
        <main>
            <div class="service_center">
                <div class="service_center_title">
                    고객센터
                    <div class="service_center_subtitle">
                        리멤버 이용에 어려움이 있으면 언제든 편하게 문의하세요.
                    </div>
                </div>
                <div class="service_center_content">
                    <button type="button" class="ask_button">1:1 문의</button>
                    <div class="service_center_footer">
                        <div class="service_center_footer_title">
                            <img src="/static/images/call_btn.png">
                            고객센터 전화번호 (02) 556-4202
                        </div>
                        <div class="service_center_footer_subtitle">
                            고객센터 운영시간 : 월 ~ 금 9:00 ~ 18:00 (공휴일 제외)
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>