@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

.email_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-email {
    width: 350px;
    line-height: 35px;
}

.signup_email {
    text-align: center;
    width: 350px;
}

.form_box {
    margin-bottom: 40px;
}

.form_box h1 {
    font-size: 26px;
    font-weight: 550;
    text-align: center;
}

.input_box {
    margin: 10px auto;
    width: 350px;
    border: 1px solid #222;
    position: relative;
    height: 48px;
    line-height: 48px;
}

.input_box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #222;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}

.fa {
    width: 10px;
    border-right: 20px;
}

.signup_email p {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.submit_button {
	margin-top: 12px;
    width: 350px;
    display: block;
    outline: none;
    color: #b9b9b9;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}