@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

.signup {
    width: 350px;
}

.signup_type {
    text-align: center;
}

.signup_type h1 {
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-size: 26px;
    text-align: center;
    font-weight: 550;
}

.select_type .btn {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 1px;
    font-size: 15px;
    height: 48px;
    line-height: 48px;
    opacity: 1.5;
    margin-bottom: 10px;
    position: relative;
}

.select_type .btn:hover {
    opacity: 0.7;
}

.select_type button {
	width: 100%;
	cursor: pointer;
}

.select_type .naver {
    background-color: rgb(96, 208, 77);
}

.select_type .google {
    border: 1px solid rgb(204, 204, 205);
    background-color: #fff;
    color: #222;
}

.select_type .email {
    border: 1px solid rgb(204, 204, 205);
    background-color: #fff;
    color: #222;
}

.select_type .naver::before {
    content: url(/static/images/btn2.png);
    position: absolute;
    left: 12px;
    top: 5px;
}

.select_type .google::before {
    content: url(/static/images/btn3.png);
    position: absolute;
    left: 12px;
    top: 5px;
}

.select_type .email::before {
    content: url(/static/images/btn5.png);
    position: absolute;
    left: 12px;
    top: 5px;
}

.footer {
    padding: 5px;
    margin-top: 30px;
    font-size: 14px;
}

.footer a {
    font-weight: bold;
    color: #222;
}