<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/css/container.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 class="logo">
                <img src="" alt="">
            </h1>
            <nav>
                <a href="" class="asdf">커리어</a>
                <a href="">커뮤니티</a>
                <a href="">나우</a>
                <a href="">명함첩</a>
            </nav>
            <div class="sign">
                <a href="">로그인</a>
                <a href="">회원가입</a>
            </div>
        </header>
        <main>


        </main>
        <footer>

        </footer>
    </div>
</body>

</html>