<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 직장인 필수 앱</title>
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header_in">
                <div class="header_nav">
                    <h1 class="logo">
                        <img src="/images/logo.svg" alt="리멤버 로고">
                    </h1>
                    <nav>
                        <a href="" class="asdf">커리어</a>
                        <a href="">커뮤니티</a>
                        <a href="">나우</a>
                        <a href="">명함첩</a>
                    </nav>
                </div>
                <div class="header_sign">
                    <div class="sign">
                        <ul>
                            <li><a href="">로그인</a></li>
                            <li><a href="">회원가입</a></li>
                        </ul>                      
                    </div>   
                </div>
            </div>
        </header>
        <main>
            <div class="main_msg">
                <h1>당장 이직 생각 없어도<br>스카웃 제안부터 받아보세요!</h1>
                <button>스카웃 제안 받기</button>
            </div>
        </main>
        <section>
            <div class="main_con">
                <div class="con_profile">
                    <span><img src="/images/profile.png" alt=""></span>
                </div>
                <div class="con_profile_go">
                    <h2>프로필 등록하면<br>스카웃 제안이 찾아와요!</h2>
                    <h3>재직 중인 회사에서는<br>내 프로필을 볼 수 없으니 안심하세요.</h3>
                    <button>지금 프로필 등록하기 <img class="arrow" src="/images/arrow.svg" alt=""></button>
                </div>
            </div>
        </section>
        <footer>

        </footer>
    </div>
</body>

</html>