footer {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_wrapper {
    padding: 28px 16px 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.footer_logo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_logo>img {
    width: 150px;
}

.footer_text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
}

.footer_links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.footer_links>.link {
    font-size: 14px;
    font-weight: 400;
    color: #1F3A93;
    line-height: 1.6;
    text-decoration: underline;
}

footer .related_services {
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 8px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    gap: 5px;
}

footer .related_services>.text {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: black;
}