<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 제목</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/community/header.css">
    <link rel="stylesheet" href="/static/css/community/footer.css">
    <link rel="stylesheet" href="/static/css/community/article_detail.css">
    <link rel="stylesheet" href="/static/css/community/right_aside.css">
    <link rel="stylesheet" href="/static/css/community/left_aside.css">
    <link rel="stylesheet" href="/static/css/community/modal.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/community/request_flag.js"></script>
    <script src="/static/js/get_principal.js"></script>
</head>

<body>
    <div class="container">
        <header th:replace="fragment/header/community_header :: community_header"></header>
        <main>
            <aside class="left_aside">
                <section class="insight_section">
                    <div class="title">
                        <div class="title_logo">
                            <img src="/static/images/community_aside_insite.svg">
                        </div>
                        <span class="accent_text">인사이트</span>
                    </div>
                    <ul class="insight_list">
                        
                    </ul>
                </section>
                <section class="job_section">
                    <div class="title">
                        <div class="title_logo">
                            <img src="/static/images/community_aside_job.svg">
                        </div>
                        <span class="accent_text">직무·업종 커뮤니티</span>
                    </div>
                    <ul class="job_list">
                        
                    </ul>
                </section>
                <section class="subject_section">
                    <div class="title">
                        <div class="title_logo">
                            <img src="/static/images/community_aside_subject.svg">
                        </div>
                        <span class="accent_text">관심사 커뮤니티</span>
                    </div>
                    <ul class="subject_list">
                        
                    </ul>
                </section>
            </aside>
            <div class="main_contents">
                <div class="article_detail">
                    <div class="header">
                        <div class="tags">
                            <button type="button" class="tag"></button>
                            <img src="/static/images/article_detail_article_menu.svg" class="article_menu_button">
                        </div>
                        <div class="article_summary">
                            <span class="title"></span>
                            <div class="article_info">
                                <span class="upload_time"></span>
                                <span>|</span>
                                <span class="views">조회수 <span class="view_count"></span></span>
                            </div>
                        </div>
                        <div class="userinfo">
                            <div class="profile_image">
                                <img src="/static/images/default_profile_image.png">
                            </div>
                            <div class="text_wrapper">
                                <span class="nickname"></span>
                                <span class="department_name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="contents">
                        <div class="description">

                        </div>
                        <div class="article_like">
                            <button type="button" class="article_like_button">
                                <span class="like_count">0</span>
                                <span class=like_icon></span>
                            </button>
                        </div>
                        <div class="related_articles">
                            <div class="header">
                                <span class="text topic"></span>
                                <span class="text">베스트글</span>
                                <span><img src="/static/images/article_detail_related_articles_title_medal.svg"></span>
                            </div>
                            <ul class="related_article_list">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inner_ad">
                    <a href="#" class="ad">
                        <img src="/static/images/community_main_ad1.webp">
                    </a>
                </div>
                <div class="comment_form">
                    <form class="comment_textarea">
                        <div class="profile_image">
                            <img src="/static/images/default_profile_image.png">
                        </div>
                        <textarea name="contents" class="comment_contents" placeholder="회원(으)로 댓글 달기..."></textarea>
                    </form>
                    <div class="buttons">
                        <div class="input_wrapper">
                            <input type="checkbox" class="register_to_nickname">
                            <span>닉네임으로 등록</span>
                        </div>
                        <button type="button" class="submit_comment" disabled>등록</button>
                    </div>
                </div>
                <div class="best_comments">
                    <div class="total_comment_count">댓글 </div>
                    
                </div>
                <div class="whole_comments">
                    <div class="comment_order_buttons">
                        <button type="button" class="order_asc active">등록순</button>
                        <button type="button" class="order_desc">최신순</button>
                    </div>
                    
                    
                </div>
                <!-- page 당 feed 15개 -->
                <div class="feeds">
                    <div class="title">
                        <span class="accent_text">이 게시판의 최신 글</span>
                    </div>
                    <a href="#" class="event_viewer">
                        <button type="button" class="event_button">EVENT</button>
                        <span class="event_text">베스트글 선정되면, 리워드 드려요!</span>
                    </a>
                    
                </div>
                <div class="pager">
                    <button type="button" class="before" disabled>
                        <img src="/static/images/community_pager_icon.svg">
                    </button>
                    
                    <button type="button" class="after">
                        <img src="/static/images/community_pager_icon.svg">
                    </button>
                </div>
            </div>
            <aside class="right_aside">
                <button type="button" class="like_rank">
                    <img src="/static/images/community_right_aside_like_rank.svg">
                    <span class="accent_text">좋아요 순위</span>
                </button>
                <section class="best_articles_aside">
                    <div class="title">
                        <div class="title_logo">
                            <img src="/static/images/community_best_articles_icon.svg">
                        </div>
                        <span class="accent_text">종합 베스트글</span>
                    </div>
                    <ul class="article_summary_list">
                        
                    </ul>
                </section>
            </aside>
        </main>
        <footer>
            <div class="footer_wrapper">
                <div class="links">
                    <a href="#">회사소개</a>
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">도움말</a>
                    <a href="#">광고상품</a>
                    <a href="#">언론보도</a>
                    <button type="button" class="relate_service_modal">
                        <span class="text">관련 서비스</span>
                        <span class="arrow"></span>
                    </button>
                </div>
                <div class="copyrights">
                    <span class="row">대표전화 : 02-556-4202</span>
                    <span class="row">06158 서울시 강남구 테헤란로79길 6, 6층 (삼성동, 제이에스타워) (대표자:최재호) 사업자등록번호 : 211-88-81111</span>
                    <div class="row">
                        <a href="#" class="company_number">통신판매업 신고번호: 2016-서울강남-03104호</a>
                        <span class="company_number">직업정보제공사업 신고번호: 서울강남 제2019-11호</span>
                        <span class="company_number">유료직업소개사업 신고번호: 2020-3220237-14-5-00003</span>
                    </div>
                    <span class="row">Copyright 2019. Drama & Company All rights reserved.</span>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/community/set_header.js"></script>
    <script src="/static/js/community/load_article_detail.js"></script>
    <script src="/static/js/community/load_left_aside.js"></script>
    <script src="/static/js/community/load_best_articles.js"></script>
    <script src="/static/js/community/load_recent_feeds.js"></script>
    <script src="/static/js/community/load_total_article_count.js"></script>
</body>

</html>