.container {
    min-height: 100vh;
}

main {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.register_profile_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #eaf0fe;
}

.banner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 100%;
}

.banner_message {
    display: flex;
    align-items: center;
    height: 44px;
}

.banner_message>img {
    margin-right: 12px;
    height: 44px;
}

.banner_text {
    margin-right: 4px;
}

.banner_text,
.banner_text_accent {
    font-size: 14px;
    line-height: 24px;
}

.banner_text_accent {
    font-weight: 600;
}

.banner_text_accent>strong {
    font: inherit;
    color: #2864f0;
}

.register_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register_button>img {
    margin-top: -2px;
}

.contents {
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.08);
}

.side_bar {
    margin: 10px 5px 5px 0;
    min-width: 230px;
    max-width: 230px;
    height: fit-content;
}

.my_business_card,
.my_card_book {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.my_business_card {
    margin-bottom: 10px;
}

.my_business_card.hidden {
    display: none;
}

.my_business_card>button {
    cursor: pointer;
}

.my_business_card>button>* {
    pointer-events: none;
}

.register_business_card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;
    border: 1px solid #cdcdcd;
}

.register_business_card>.inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 53px;
    background-color: #FAFAFA;
}

.side_bar_card_menu {
    padding: 9px 11px;
    display: flex;
    align-items: center;
    border: 1px solid #cdcdcd;
    border-top: none;
    font-size: 13px;
}

.side_bar_card_menu>img {
    margin-left: 8px;
}

.side_bar_text,
.title_text {
    font-size: 13px;
    color: #666;
}

.title_text {
    font-weight: 700;
    color: #333;
}

.my_card_book:last-child {
    border-bottom: 1px solid #cdcdcd;
}

.my_card_book>.title {
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #cdcdcd;
}

.add_group_button {
    padding: 0 5px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
}

.add_group_text {
    font-size: 11px;
    font-weight: normal;
    color: #999;
    pointer-events: none;
}

.add_group_button>img {
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.add_group {
    padding: 0 5px 0 12px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;


}

.add_group_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 36px;
}

.add_group_input {
    width: 193px;
    height: 32px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 300;
}

.add_group_close img {
    margin-left: 21px;
    cursor: pointer;
}

.card_group {
    padding: 0 5px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
}

.card_group:hover {
	background-color: #eee;
}

.group_box {
	display: flex;
	align-items: center;
}

.group_text {
    font-size: 13px;
    color: #666;
}

.sub_group_arrow {
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

.whole_count,
.group_count {
    font: inherit;
}

.group_more {
	display: none;
}

.card_group:hover .group_more {
	display: block;
}

.card_group:last-child:hover .group_more {
	display: none;
}


.group_btn {
	position: relative;
	display:flex;
	justify-content:center;
	align-items:center;
	width: 14px;
	height: 14px;
	border: 1px solid #d9d9d9;
	color: rgba(0,0,0,0.65);
	cursor: pointer;
}

.group_btn:hover {
	border-color: #333333;
	transition : all 0.3s;
}

.group_btn_arrow {
	
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    pointer-events :none;
}

.change_input input {
	width: 100%;
	height: 32px;
	font-size: 13px;
	border: none;
	outline: none;
}


.main_contents {
    display: flex;
    align-items: flex-start;
    width: 965px;
    height: fit-content;
}

.info {
    width: 630px;
}

.no_contents {
    margin: 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22.5px;
}

.no_contents>.text {
    font-size: 15px;
    color: #999;
    line-height: 22.5px;
}

.blanks {
    width: 100%;
    height: 216.5px;
    background-color: rgba(51, 51, 51, 0.08);
}

.card_list_box {
    margin: 10px 5px 20px 5px;
    width: 310px;
    background-color: #fff;
    border: 1px solid #cdcdcd;
}

.card_list_box.hidden {
	display: none;
}

.card_list_top {
	padding: 8.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    height: 50px;
}

.btn_left_box {
    height: 100%;
}

.drop_menu {
	position: absolute;

}

.drop_menu.group {
	position: absolute;
	top: 100%;
}

.drop_menu.side_group {
	position: absolute;
	text-align: left;
} 

.drop_menu.side_group li:last-child {
	border-top: none;
}



.drop_menu ul {
	margin-top: 2px;
	min-width: 160px;
	border: 1px solid rgba(0,0,0,0.15);
	background-color: #fff;
	z-index: 2;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.drop_menu li{
	padding: 10px 20px;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	cursor: pointer;
}

.drop_menu li:hover {
	color:#fff;
	background-color: #333;
	transition: all 0.3s;
}

.drop_menu li:last-child {
	border-top: 1px solid rgba(0,0,0,0.15);
}

.drop_menu.hidden {
	display: none;
}

.drop_menu.group li {
	text-align: left;
}



.top_btn_left {
	position: relative;
    display: flex;
    align-items: center;
    height: 32px;
}

.top_list_btn {
    padding: 5.5px;
    display: flex;
    align-items: center;
    height:100%;
    border: 1px solid #d9d9d9;
    border-right: none;
}

.top_btn.more {
    padding: 6px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.65);
    height: 100%;
    cursor: pointer;
}



.top_btn.more span {

    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

}

.top_right {
	display:flex;
	align-items:center;
}

.top_right.hide{
	display: none;
}

.top_select {
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    outline: none;
    font-size: 13px;
    background-color: #fff;
}

.list_select{
	width: 100%;
	height: 30px;
	font-size: 14px;
	color: rgba(0,0,0,0.65);
	text-align: center;
	line-height:29px;
	border-bottom: 1px solid #cdcdcd;
	background-color: #feffce;
}

.list_select.hide{
	display: none;
}



.card_list_title {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 10px;
    background-color: #fcfcfc;
    font-size: 13px;
    color: rgba(0, 0, 0, .65);
}

.card_list_con {
    display: flex;
    width: 100%;
    height: 83px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid #cdcdcd;

    cursor: pointer;
}

.card_list_con.color {

	background-color: #feffce !important;
}

.card_list_con.active {
    border-left: 3px solid #333;
	background-color: #f9f9f9;
}

.list_mark {
    width: 3px;
    background-color: #333333;
}

.list_con_check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 100%
}

.check_btn {
	appearance:none;
	background: url('/static/images/signup_unchecked_checkbox.png');
	width: 16px;
	height: 16px;
	transition: 300ms;
}

.check_btn.not_max {
	background: url('/static/images/card_not_max_checkbox.png') !important;
}

.check_btn:checked {
	background: url('/static/images/signup_checked_checkbox.png');
}

.list_con_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.list_info.name {
    height: 20px;
}

.list_info.name span {
    max-width: 180px;
    color: #333333;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.list_info {
    font-size: 11px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 240px;
}

.list_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}

.pager {
	display: flex;
	gap: 10px;
}

.page {
    padding: 6px 12px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 13px;
    cursor: pointer;
}

.page.current {
    background-color: #333;
    border-color: #333;
    color: #fff;
    pointer-events: none;
}

.page.blank {
	padding: 0;
	width: 26px;
	height: 1px;
	border: none;
	pointer-events: none;
}

.page.btn.left {
    margin-left: 10px;
}

.page.btn.right {
    margin-right: 10px;
}

.card_modal_con {
	position: relative;
	background-color: #fff;
	box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}

.card_modal_header {
	padding: 16px 24px;
	border-bottom: 1px solid #e8e8e8;
}

.edit_form {
	margin: 10px 5px 20px 5px;
	width: 950px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

.edit_contents.hidden{
	display: none;
}

.edit_top{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cdcdcd;
	height: 50px;
}

.edit_title {
	padding: 10px 15px;
	font-size: 20px;
	line-height: 1.4;
}

.buttons {
	padding: 8px;
}

.btn.edit_save,
.btn.edit_cancel,
.edit_title {
	color: rgba(0,0,0,.65);
}

.btn.edit_save {
	border: 1px solid #d9d9d9;	
}

.btn.edit_cancel:hover {
	text-decoration: underline;	
}

.btn.edit_save:hover {
	border-color: #333333;
	color: #333333;
}

.edit_con {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #cdcdcd;
}

.edit_img_add {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 10px;
	width: 430px;
	height: 240px;
	border: dotted 3px #ccc;
	background-color: #f5f5f5;
	color: #999;
}

.edit_img_add > input {
	display: none;
}

.edit_img_upload {
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-bottom: 8px;
	width: 50px;
	height: 32px;
	border: 1px solid #ccc;
	font-size: 20px;
}

.edit_img_text {
	font-size: 14px;
}

.edit_write {
	display: flex;
	
	padding: 11px;
	max-height: 731px;
}

