
main {
    position: relative;
    top: 74px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register_profile_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #eaf0fe;
}

.banner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 100%;
}

.banner_message {
    display: flex;
    align-items: center;
    height: 44px;
}

.banner_message>img {
    margin-right: 12px;
    height: 44px;
}

.banner_text {
    margin-right: 4px;
}

.banner_text,
.banner_text_accent {
    font-size: 14px;
    line-height: 24px;
}

.banner_text_accent {
    font-weight: 600;
}

.banner_text_accent>strong {
	font: inherit;
    color: #2864f0;
}

.register_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register_button>img {
    margin-top: -2px;
}

.contents {
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.08);
}

.side_bar {
    margin: 10px 5px 5px 0;
    min-width: 230px;
    max-width: 230px;
}

.my_business_card,
.my_card_book {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.my_business_card {
    margin-bottom: 10px;
}

.my_business_card.hidden{
	display: none;
}

.my_business_card>button {
    cursor: pointer;
}

.my_business_card>button>* {
    pointer-events: none;
}

.register_business_card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;
    border: 1px solid #cdcdcd;
}

.register_business_card>.inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 53px;
    background-color: #FAFAFA;
}

.side_bar_card_menu {
    padding: 9px 11px;
    display: flex;
    align-items: center;
    border: 1px solid #cdcdcd;
    border-top: none;
    font-size: 13px;
}

.side_bar_card_menu>img {
    margin-left: 8px;
}

.side_bar_text,
.title_text {
    font-size: 13px;
    color: #666;
}

.title_text {
    font-weight: 700;
    color: #333;
}

.my_card_book:last-child {
    border-bottom: 1px solid #cdcdcd;
}

.my_card_book>.title {
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #cdcdcd;
}

.add_group_button {
    padding: 0 5px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
}

.add_group_text {
    font-size: 11px;
    font-weight: normal;
    color: #999;
    pointer-events: none;
}

.add_group_button>img {
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.add_group{
	padding: 0 5px 0 12px;
	border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    
	
}

.add_group_box{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100%;
	min-height: 36px;
}

.add_group_input{
		width: 193px;
		height: 32px;
		border: none;
		outline: none;
		font-size: 13px;
		font-weight: 300;
}

.add_group_close img{
	margin-left: 21px;
	cursor: pointer;
}

.card_group {
    padding: 0 5px 0 12px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
}

.group_text {
    font-size: 13px;
    color: #666;
}

.sub_group_arrow {
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

.whole_count,
.group_count {
    font: inherit;
}

.main_contents {
    display: flex;
	align-items:flex-start;
    
    width: 965px;
}

.info{
	width: 630px;
}

.no_contents {
    margin: 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22.5px;
}

.no_contents>.text {
    font-size: 15px;
    color: #999;
    line-height: 22.5px;
}

.blanks {
    width: 100%;
    height: 216.5px;
    background-color: rgba(51, 51, 51, 0.08);
}

.card_list_box{
	margin: 10px 5px 5px 5px;
	width: 310px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
}

.card_list_top{
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-bottom: 1px solid #cdcdcd;
	height: 50px;
}

.btn_left_box{
	padding-left: 8px;
}


.top_btn_left{
	display:flex;
	align-items:center;

}

.top_list_btn{
	padding: 5.5px;
	border: 1px solid #d9d9d9;
	border-right:none;
	color: rgba(0,0,0,0.65);
	text-align: center;;
}

.top_btn.more{
	padding: 6px;
	display:flex;
	align-items:center;
	border: 1px solid #d9d9d9;
	color: rgba(0,0,0,0.65);
	height: 32px;
}



.top_btn.more span{

	display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

}

.top_right{
	padding-right: 8px;
}

.top_select{
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	color:#555;
	border: 1px solid #ccc;
	outline: none;
	font-size: 13px;
	background-color: #fff;
}
.list_group{
	
}

.card_list_title{
	width: 100%;
	height:30px;
	border-bottom: 1px solid #cdcdcd;
	padding: 5px 10px;
	background-color: #fcfcfc;
	font-size: 13px;
	color: rgba(0,0,0,.65);
}

.card_list_con{
	display: flex;
	width: 100%;
	height: 83px;
	border-left:3px solid transparent;
	border-bottom: 1px solid #cdcdcd;
	background-color: #F9F9F9;
	cursor: pointer;
}

.card_list_con.active{
	border-left:3px solid #333;
}

/*.card_list_con * {
	pointer-events: none;
}*/

.list_mark{
	width: 3px;
	background-color: #333333;
}

.list_con_check{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 43px;
	height: 100%
}


.list_con_info{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height: 100%;
}

.list_info_name{
	height: 20px;
}

.list_info_name span{
	max-width: 180px;
	color: #333333;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	font-size: 14px;
}

.list_info{
	font-size: 11px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 240px;
}

.list_page{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 54px;
}

.page{
	padding: 6px 12px;
	color: #333;
	background-color: #fff;
	border:1px solid #ddd;
	font-size: 13px;
}

.page.num{
	background-color: #333;
	border-color: #333;
	color: #fff;
}

.page.btn.left{
	margin-left: 10px;
}

.page.btn.right{
	margin-right: 10px;
}



