.container {
	min-height: 100vh;
}

main {
	margin-top: 72px;
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.08);
}

.main_wrapper {
	display: flex;
	min-width: 1200px;
}

.menus {
	margin: 10px 5px 5px 5px;
	display: flex;
	flex-direction: column;
	width: 230px;
}

.menus > .team_menu {
	margin-bottom: 10px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menus > .team_menu > .title {
	font-size: 11px;
	color: #999;
}

.menus > .team_menu > .team_info {
	display: flex;
	align-items: center;
}

.menus > .team_menu > .team_info > .team_name {
	max-width: 150px;
	font-size: 13px;
	color: #666;
	white-space: no-wrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.menus > .team_menu > .team_info > .team_grade {
	margin-left: 5px;
	padding: 0 3px;
	height: 18px;
	border: 1px solid #333;
	border-radius: 3px;
	font-size: 11px;
	line-height: 18px;
}

.menus > .team_menu > .team_info > .team_grade.basic {
	border-color: #979797;
	color: #979797;
}

.menus > .team_menu > .team_info > .team_grade.premium {
	border-color: #3288D0;
	color: #3288D0;
}

.menus > .team_menu > .team_info > .team_grade.enterprise {
	border-color: #D08132;
	color: #D08132;
}

.menus > .team_menu > hr {
	margin: 18px 0;
	border: none;
	border-top: 1px solid #EEE;
}

.menus > .team_menu > .buttons {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.menus > .team_menu > .buttons > button {
	margin-bottom: 3px;
	padding: 6px 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid #D9D9D9;
	cursor: pointer;
	transition: 300ms;
}

.menus > .team_menu > .buttons > button:hover {
	border: 1px solid #333; 
}

.menus > .team_menu > .buttons > button > * {
	pointer-events: none;
}

.menus > .team_menu > .buttons > button > span {
	margin-left: 3px;
	font-size: 13px;
	font-weight: 400;
	color: rgb(0, 0, 0, 0.65);
}

.menus > .upgrade_goods {
	margin-bottom: 10px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 48px;
	border: 1px solid #CDCDCD;
	background-color: #6AA0E0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.menus > .upgrade_goods > .text {
	font-size: 11px;
	opacity: 0.7;
	color: white;
}

.menus > .upgrade_goods > .text.big {
	font-size: 15px;
	opacity: 1;
}

.menus > .team_description {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menus > .team_description > .card_books {
	padding: 12px;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.menus > .team_description > .card_books > .title {
	margin-bottom: 5px;
	font-size: 11px;
	color: #999;
}

.menus > .team_description > .card_books > .card_book {
	position: relative;
	padding: 7px 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	cursor: pointer;
}

.menus > .team_description > .card_books > .card_book:hover {
	background-color: #333;
}

.menus > .team_description > .card_books > .card_book + .card_book {
	border-top: 1px solid #E5E5E5; 
}

.menus > .team_description > .card_books > .card_book.active {
	background-color: #FEFFCE;
}

.menus > .team_description > .card_books > .card_book.active::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -7.5px;
	width: 15px;
	height: 15px;
	background: url("/static/images/team_empty_circle_checked.png");
}

.menus > .team_description > .card_books > .card_book > .card_book_name {
	max-width: 70%;
	font-size: 13px;
	color: #666;
	line-height: 19.5px;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.menus > .team_description > .card_books > .card_book > .card_book_info {
	max-width: 70%;
	font-size: 11px;
	color: #999;
	line-height: 16.5px;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.menus > .team_description > .card_books > .card_book > .card_book_info > span {
	font-size: 11px;
	color: #999;
	line-height: 16.5px;
}

.menus > .team_description > .card_books > .add_new_card_book {
	padding: 10px 8px;
	width: 100%;
	border-top: 1px solid #E5E5E5;
	font-size: 13px;
	color: #333;
	text-align: left;
	cursor: pointer;
}

.menus > .team_description > .groups {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.menus > .team_description > .groups > .add_new_group,
.menus > .team_description > .groups > .group {
	padding: 0 5px 0 12px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 36px;
	cursor: pointer;
}

.menus > .team_description > .groups > .add_new_group:hover,
.menus > .team_description > .groups > .group:hover {
	background-color: #EEE;
}

.menus > .team_description > .groups > .add_new_group > span {
	font-size: 11px;
	font-weight: normal;
	color: #999;
	pointer-events: none;
}

.menus > .team_description > .groups > .add_new_group > img {
	margin-left: auto;
	pointer-events: none;
}

.menus > .team_description > .groups > .add_new_group:hover > span {
	color: #333;
}

.menus > .team_description > .groups > .input_wrapper {
	position: relative;
	padding: 0 5px 0 12px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 36px;
	background-color: white;
}

.menus > .team_description > .groups > .input_wrapper > input {
	flex-grow: 1;
	height: 100%;
	border: none;
	font-size: 13px;
	color: #555;
	line-height: 32px;
	outline: none;
}

.menus > .team_description > .groups > .input_wrapper > button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 18px;
	height: 100%;
	cursor: pointer;
}

.menus > .team_description > .groups > .input_wrapper > button > img {
	pointer-events: none;
}

.menus > .team_description > .groups > .group > .group_text,
.menus > .team_description > .groups > .group > .group_text > span {
	font-size: 13px;
	color: #666;
}

.menus > .team_description > .groups > .group > .sub_group_arrow {
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
}

.menus > .buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.menus > .buttons > button {
	padding: 14px 12px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 47.5px;
	cursor: pointer;
}

.menus > .buttons > button:first-child {
	height: 48.5px;
	border-bottom: 1px solid #E5E5E5;
}

.menus > .buttons > button > * {
	pointer-events: none;
	opacity: 0.9;
}

.menus > .buttons > button:hover > * {
	opacity: 1;
}

.menus > .buttons > button > span {
	margin-left: 10px;
	font-size: 13px;
	font-weight: 600;
	color: #666;
}

.menus > .storage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 42px;
	font-size: 13px;
	color: #666;
}

.menus > .storage > span {
	font: inherit;
}

.main_contents {
	margin: 10px 5px 5px 5px;
	display: flex;
	align-items: flex-start;
	width: 965px;
}

.main_contents > .no_member {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.main_contents > .no_member > span {
	font-size: 16px;
	color: black;
	line-height: 21px;
}

.main_contents > .no_member > .invite_member {
	margin-top: 20px;
	padding: 6px 12px;
	background-color: #333;
	font-size: 13px;
	font-weight: 400;
	color: white;
	cursor: pointer;
}

.main_contents > .how_to_use {
	margin-bottom: 50px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.main_contents > .how_to_use > .row {
	margin: 10px;
	display: flex;
	flex-direction: column;
	width: 600px;
}

.main_contents > .how_to_use > .row > .title {
	font-size: 13px;
	color: #666;
}

.main_contents > .how_to_use > .row > .title > b {
	font: inherit;
	font-weight: 600;
}

.main_contents > .how_to_use > .row > .description {
	font-size: 13px;
	color: #999;
}

.main_contents > .how_to_use > .row > img {
	margin-top: 20px;
	width: 100%;
}

.main_contents > .manage_team,
.main_contents > .card_book_settings {
	display: flex;
	flex-direction: column;
	width: 448px;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.main_contents > .manage_team > section,
.main_contents > .card_book_settings > section {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .manage_team > section > .row,
.main_contents > .card_book_settings > section > .row {
	padding: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.main_contents > .manage_team > section > .column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.main_contents > .manage_team > section > .column.payment {
	padding: 12px;
}

.main_contents > .manage_team > section > .column > .warning_title {
	padding: 16px;
	width: 100%;
	font-size: 15px;
	color: #666;
	line-height: 1.5;
	text-align: center;	
}

.main_contents > .manage_team > section > .column > .warning_description {
	margin: 0 12px;
	padding: 16px 20px;
	width: calc(100% - 24px);
	background-color: #FAFAFA;
	font-size: 15px;
	color: #999;
	white-space: pre-line;
}

.main_contents > .manage_team > section > .column > .input_wrapper {
	margin: 30px 0;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 8px;
	cursor: pointer;
}

.main_contents > .manage_team > section > .column > .input_wrapper > .confirm {
	appearance: none;
	width: 16px;
	height: 16px;
	background: url("/static/images/signup_unchecked_checkbox.png");
	transition: 300ms;
	pointer-events: none;
}

.main_contents > .manage_team > section > .column > .input_wrapper:hover > .confirm {
	background: url("/static/images/signup_hover_checkbox.png");
}

.main_contents > .manage_team > section > .column > .input_wrapper > .confirm:checked {
	background: url("/static/images/signup_checked_checkbox.png");
}

.main_contents > .manage_team > section > .column > .input_wrapper > .text {
	font-size: 15px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	pointer-events: none;
}

.main_contents > .manage_team > section > .column > .delete_button,
.main_contents > .manage_team > section > .column > .leave_button {
	margin-bottom: 16px;
	width: 300px;
	height: 40px;
	background-color: #FF5252;
	font-size: 16px;
	font-weight: 400;
	color: white;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;;
	transition: 300ms;
}

.main_contents > .manage_team > section > .column > .delete_button:disabled,
.main_contents > .manage_team > section > .column > .leave_button:disabled {
	opacity: 0.3;
	cursor: default;
}

.main_contents > .manage_team > section > .column.payment > .row {
	padding: 12px 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.main_contents > .manage_team > section > .column.payment > .row:not(:last-child) {
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .manage_team > section > .column.payment > .no_contents {
	margin: 80px 0;
	width: 100%;
	font-size: 13px;
	font-weight: 700;
	color: #CCC;
	text-align: center;
}

.main_contents > .manage_team > section > .row > .title,
.main_contents > .card_book_settings > section > .row > .title {
	display: flex;
	flex-direction: column;
}

.main_contents > .manage_team > section .text,
.main_contents > .card_book_settings > section .text {
	font-size: 14px;
	color: #666;
	line-height: 27px;
}

.main_contents > .manage_team > section .text.small,
.main_contents > .card_book_settings > section .text.small {
	font-size: 11px;
	color: #999;
	line-height: normal;
}

.main_contents > .manage_team > section .text.blue {
	font-size: 11px;
	color: #6AA0E0;
	line-height: normal;
}

.main_contents > .manage_team > section .text.disabled,
.main_contents > .card_book_settings > section .text.disabled {
	color: #CCC;
}

.main_contents > .manage_team > section button,
.main_contents > .card_book_settings > section button {
	font-size: 11px;
	color: #999;
	text-decoration: underline;
	cursor: pointer;
}

.main_contents > .card_book_settings > section button:disabled {
	text-decoration: none;
	cursor: default;
}

.main_contents > .manage_team > section button.red,
.main_contents > .card_book_settings > section button.red {
	color: rgb(255, 82, 82);
}

.main_contents > .join_users {
	display: flex;
	flex-direction: column;
	width: 310px;
	border: 1px solid CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.main_contents > .join_users > .title {
	padding: 0 10px 0 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .join_users > .title > span {
	font-size: 13px;
	font-weight: 500;
	color: #666;
}

.main_contents > .join_users > .title > .add_team_user {
	padding: 6px 12px;
	border: 1px solid #D9D9D9;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	line-height: normal;
	cursor: pointer;
	transition: 400ms;
}

.main_contents > .join_users > .title > .add_team_user:hover {
	border: 1px solid #333;
}

.main_contents > .join_users > .contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .join_users > .contents > .user {
	display: flex;
	align-items: center;
	width: 100%;
	height: 82px;
	border-left: 3px solid transparent;
	cursor: pointer;
}

.main_contents > .join_users > .contents > .user * {
	pointer-events: none;
}

.main_contents > .join_users > .contents > .user.selected {
	border-color: #333;
	background-color: #F9F9F9;
}

.main_contents > .join_users > .contents > .user > .profile_image {
	margin: 0 21px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.main_contents > .join_users > .contents > .user > .profile_image > img {
	width: 100%;
}

.main_contents > .join_users > .contents > .user > .description {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-grow: 1;
	height: 100%;
}

.main_contents > .join_users > .contents > .user > .description > .name_tag {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main_contents > .join_users > .contents > .user > .description > .name_tag > .nickname {
	font-size: 13px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.65);
}

.main_contents > .join_users > .contents > .user > .description > .name_tag > .admin {
	margin-left: 5px;
	padding: 1px 4px 1px;
	background-color: #333;
	border-radius: 2px;
	font-size: 13px;
	color: white;
}

.main_contents > .join_users > .contents > .user > .description > .phone_number {
    max-width: 140px;
	font-size: 11px;
	color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.main_contents > .join_users > .pager_wrapper,
.main_contents > .card_list_wrapper > .pager_wrapper {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 54px;
}

.main_contents > .join_users > .pager_wrapper > button,
.main_contents > .card_list_wrapper > .pager_wrapper > button {
	width: 34px;
	height: 100%;
	border: 1px solid #DDD;
	font-size: 13px;
	color: #333;
	line-height: 34px;
}

.main_contents > .join_users > .pager_wrapper > .pager,
.main_contents > .card_list_wrapper > .pager_wrapper > .pager {
	display: flex;
	align-items: center;
	gap: 5px;
}

.main_contents > .join_users > .pager_wrapper > .pager > .page,
.main_contents > .card_list_wrapper > .pager_wrapper > .pager > .page{
	width: 34px;
	height: 100%;
	border: 1px solid #DDD;
	font-size: 13px;
	color: #333;
	line-height: 34px;
	text-align: center;
	cursor: pointer;
}

.main_contents > .join_users > .pager_wrapper > .pager > .page.current,
.main_contents > .card_list_wrapper > .pager_wrapper > .pager > .page.current {
	border: none;
	background-color: #333;
	color: white;
	pointer-events: none;
}

.main_contents > .join_users > .pager_wrapper > .pager > .page.blank,
.main_contents > .card_list_wrapper > .pager_wrapper > .pager > .page.blank {
	height: 1px;
	border: none;
	background: none;
	pointer-events: none;
}

.main_contents > .card_list_wrapper {
	display: flex;
	flex-direction: column;
	width: 308px;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.main_contents > .card_list_wrapper.hidden {
	display: none;
}

.main_contents > .card_list_wrapper > .card_list_menu {
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_list_wrapper > .card_list_menu > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .input_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #D9D9D9;
	transition: 300ms;
	cursor: pointer;
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .input_wrapper:hover,
.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .down_menu:hover,
.main_contents > .card_detail > .detail_header > .detail_menu > .edit_card:hover,
.main_contents > .card_detail > .detail_header > .detail_menu > .right > .pass_card:hover,
.main_contents > .card_detail > .detail_header > .detail_menu > .right > .down_menu:hover {
	border-color: #333;
	z-index: 1;
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .input_wrapper > .card_selector,
.main_contents > .card_list_wrapper > .card_list > .card > .input_wrapper > .card_check {
	appearance: none;
	width: 16px;
	height: 16px;
	background: url("/static/images/signup_unchecked_checkbox.png");
	transition: 300ms;
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .input_wrapper > .card_selector.not_max,
.main_contents > .card_list_wrapper > .card_list > .card > .input_wrapper > .card_check.not_max {
	background: url("/static/images/card_not_max_checkbox.png");
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .input_wrapper > .card_selector:checked,
.main_contents > .card_list_wrapper > .card_list > .card > .input_wrapper > .card_check:checked {
	background: url("/static/images/signup_checked_checkbox.png");
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .down_menu,
.main_contents > .card_detail > .detail_header > .detail_menu > .right > .down_menu {
	margin-left: -1px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 32px;
	border: 1px solid #D9D9D9;
	transition: 300ms;
	cursor: pointer;
}

.main_contents > .card_list_wrapper > .card_list_menu > .left_menu > .down_menu > .arrow,
.main_contents > .card_detail > .detail_header > .detail_menu > .right > .down_menu > .arrow {
	border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.main_contents > .card_list_wrapper > .card_list_menu > .right_menu {
	position: relative;
}

.main_contents > .card_list_wrapper > .card_list_menu > .right_menu > .card_ordering {
	padding: 6px 12px;
	width: 100%;
	height: 32px;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
	font-size: 13px;
	color: #555;
	line-height: normal;
	outline: none;
	transition: 300ms;
}

.main_contents > .card_list_wrapper > .card_list_menu > .right_menu > .card_ordering:focus {
	border-color: #00BD5D;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 189, 93, 0.6);
}

.main_contents > .card_list_wrapper > .card_list_menu > .right_menu > .card_ordering > option {
	font-size: 13px;
	color: #555;
	line-height: normal;
}

.main_contents > .card_list_wrapper > .card_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_list_wrapper > .card_list > .upload_date {
	padding: 5px 10px;
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #CDCDCD;
	background-color: #FCFCFD;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	line-height: normal;
}

.main_contents > .card_list_wrapper > .card_list > .card {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 82px;
	border-left: 3px solid transparent;
	background-color: white;
	cursor: pointer;
}

.main_contents > .card_list_wrapper > .card_list > .card.clicked {
	border-color: #333;
	background-color: #F9F9F9;
}

.main_contents > .card_list_wrapper > .card_list > .card.selected {
	background-color: #FEFFCE;
}

.main_contents > .card_list_wrapper > .card_list > .card + .card {
	border-top: 1px solid #CDCDCD;
}

.main_contents > .card_list_wrapper > .card_list > .card > .input_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 43px;
	height: 100%;
}

.main_contents > .card_list_wrapper > .card_list > .card > .card_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

.main_contents > .card_list_wrapper > .card_list > .card > .card_info > .name {
    max-width: 120px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    line-height: normal;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_contents > .card_list_wrapper > .card_list > .card > .card_info > .position_name,
.main_contents > .card_list_wrapper > .card_list > .card > .card_info > .company_name {
    max-width: 140px;
	font-size: 11px;
	color: #999;
	line-height: normal;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_contents > .card_detail {
	margin: 0 0 50px 10px;
	display: flex;
	flex-direction: column;
	width: 628px;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.main_contents > .card_detail.hidden {
	display: none;
}

.main_contents > .card_detail > .detail_header {
	padding: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .detail_header > .reg_user_name {
	font-size: 14px;
	color: #999;
	line-height: 19px;
}

.main_contents > .card_detail > .detail_header > .detail_menu {
	display: flex;
	gap: 8px;
	height: 32px;
}

.main_contents > .card_detail > .detail_header > .detail_menu > .edit_card,
.main_contents > .card_detail > .detail_header > .detail_menu > .right > .pass_card {
	padding: 0 12px;
	height: 100%;
	border: 1px solid #D9D9D9;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	line-height: 32px;
	cursor: pointer;
	transition: 300ms;
}

.main_contents > .card_detail > .detail_header > .detail_menu > .right {
	position: relative;
	display: flex;
	height: 100%;
}

.main_contents > .card_detail > .card_info {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 741px;
	overflow-y: scroll;
}

.main_contents > .card_detail > .card_info > .card_summary {
	padding: 15px;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 142px;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .card_info > .card_summary > .profile_image {
	margin-right: 12px;
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.main_contents > .card_detail > .card_info > .card_summary > .profile_image > img {
	width: 100%;
}

.main_contents > .card_detail > .card_info > .card_summary > .texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-grow: 1;
}

.main_contents > .card_detail > .card_info > .card_summary > .texts > .name {
	font-size: 16px;
	font-weight: 700;
	color: #333;
	line-height: 24px;
}

.main_contents > .card_detail > .card_info > .card_summary > .texts > .department_text,
.main_contents > .card_detail > .card_info > .card_summary > .texts > .company_name {
	font-size: 13px;
	color: #666;
	line-height: 19.5px;
}

.main_contents > .card_detail > .card_info > .card_summary > .card_image {
	align-self: flex-end;
	min-width: 206px;
	max-width: 206px;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}

.main_contents > .card_detail > .card_info > .card_summary > .card_image > img {
	max-width: 100%;
}

.main_contents > .card_detail > .card_info > .card_description {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .card_info > .card_description > .left,
.main_contents > .card_detail > .card_info > .card_description > .right {
	padding: 15px;
	width: 100%;
}

.main_contents > .card_detail > .card_info > .card_description > .left {
	border-right: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row,
.main_contents > .card_detail > .card_info > .card_description > .right > .row {
	padding: 0 10px 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row + .row,
.main_contents > .card_detail > .card_info > .card_description > .right > .row + .row {
	padding-top: 20px;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row:not(:last-child),
.main_contents > .card_detail > .card_info > .card_description > .right > .row:not(:last-child) {
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row > .title,
.main_contents > .card_detail > .card_info > .card_description > .right > .row > .title {
	font-size: 12px;
	font-weight: 700;
	color: #999;
	line-height: 18px;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row > .description,
.main_contents > .card_detail > .card_info > .card_description > .right > .row > .description {
	padding: 15px 0 4px;
	width: 100%;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 19.5px;
}

.main_contents > .card_detail > .card_info > .card_description > .left > .row > .description.blank,
.main_contents > .card_detail > .card_info > .card_description > .right > .row > .description.blank {
	color: #CCC;
}

.main_contents > .card_detail > .card_info > .group_info,
.main_contents > .card_detail > .card_info > .memo_list_wrapper {
	padding: 25px;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .card_detail > .card_info > .group_info > .title,
.main_contents > .card_detail > .card_info > .memo_list_wrapper > .title {
	font-size: 12px;
	font-weight: 700;
	color: #999;
}

.main_contents > .card_detail > .card_info > .group_info > .text,
.main_contents > .card_detail > .card_info > .memo_list_wrapper > .text {
	padding: 15px 0 4px;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 18px;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list {
	padding: 15px 0 4px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo {
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo:hover {
	background-color: #F5F5F5;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .title {
	display: flex;
	align-items: center;
	height: 19.5px;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .title > .text,
.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .contents {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 19.5px;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .title > .text {
	margin-right: 7px;
	opacity: 0.5;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .title > button {
	padding: 0 2px;
	display: none;
	align-items: center;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo:hover > .title > button {
	display: flex;
}

.main_contents > .card_detail > .card_info > .memo_list_wrapper > .memo_list > .memo > .title > button > img {
	pointer-events: none;
}

.main_contents > .card_detail > .card_info > .group_info > .text.no_content,
.main_contents > .card_detail > .card_info > .memo_list_wrapper > .text.no_content,
.main_contents > .card_detail > .memo_input > .text.no_content {
	color: #CCC;
}

.main_contents > .card_detail > .card_info > .group_info > .text.group {
	cursor: pointer;
}

.main_contents > .card_detail > .card_info > .group_info > .text.no_content > img,
.main_contents > .card_detail > .card_info > .group_info > .text.group > img {
	display: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.main_contents > .card_detail > .card_info > .group_info > .text.no_content:hover > img,
.main_contents > .card_detail > .card_info > .group_info > .text.group:hover > img {
	display: inline-block;
}

.main_contents > .card_detail > .memo_input {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 54px;
	cursor: pointer;
}

.main_contents > .card_detail > .memo_input > .text {
	padding-left: 15px;
	font-size: 13px;
	line-height: 1.5;
	pointer-events: none;
}

.main_contents > .card_detail > .memo_input > .add_memo_button {
	padding: 6px 12px;
	border: 1xp solid #262626;
	background-color: #333;
	font-size: 13px;
	font-weight: 400;
	color: white;
	line-height: normal;
	text-align: center;
}

.main_contents > .card_detail > .memo_input > .add_memo_button:hover {
	border-color: #080808;
	background-color: #1A1A1A;
}

.main_contents > .edit_card_form {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid #CDCDCD;
	background-color: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.main_contents > .edit_card_form > .title {
	padding: 0 8px 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .edit_card_form > .title > .text {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.65);
}

.main_contents > .edit_card_form > .title > .buttons {
	display: flex;
	gap: 8px;
}

.main_contents > .edit_card_form > .title > .buttons > button {
	padding: 6px 12px;
	font-size: 13px;
	color: #333;
	cursor: pointer;
}

.main_contents > .edit_card_form > .title > .buttons > .submit_button {
	border: 1px solid #333;
}

.main_contents > .edit_card_form > .card_image_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .edit_card_form > .card_image_wrapper > .front, 
.main_contents > .edit_card_form > .card_image_wrapper > .back,
.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper {
	position: relative;
	margin: 10px;
	width: 450px;
	height: 240px;
	overflow: hidden;
}

.main_contents > .edit_card_form > .card_image_wrapper > .front > img, 
.main_contents > .edit_card_form > .card_image_wrapper > .back > img {
	max-width: 100%;
}

.main_contents > .edit_card_form > .card_image_wrapper > .front > .buttons, 
.main_contents > .edit_card_form > .card_image_wrapper > .back > .buttons {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 41.5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.main_contents > .edit_card_form > .card_image_wrapper > .front > .buttons > button, 
.main_contents > .edit_card_form > .card_image_wrapper > .back > .buttons > button {
	margin-right: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	height: 100%;
	gap: 5px;
	cursor: pointer;
}

.main_contents > .edit_card_form > .card_image_wrapper > .front > .buttons > button > img, 
.main_contents > .edit_card_form > .card_image_wrapper > .back > .buttons > button > img {
	width: 18px;
	height: 18px;
	object-fit: contain;
	pointer-events: none;
}

.main_contents > .edit_card_form > .card_image_wrapper > .front > .buttons > button > span, 
.main_contents > .edit_card_form > .card_image_wrapper > .back > .buttons > button > span {
	font-size: 14px;
	color: white;
	pointer-events: none;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: dotted 3px #CCC;
	background-color: #F5F5F5;
	cursor: pointer;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper.hidden {
	display: none;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper * {
	pointer-events: none;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper > .plus {
	width: 50px;
	height: 32px;
	border: 1px solid #CCC;
	font-size: 20px;
	color: #999;
	line-height: 28px;
	text-align: center;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper > .text {
	font-size: 13px;
	color: #999;
	line-height: 1.5;
}

.main_contents > .edit_card_form > .card_image_wrapper > .input_wrapper > input,
.main_contents > .edit_card_form > .card_data > .profile_image > input {
	display: none
}

.main_contents > .edit_card_form > .card_data {
	padding: 11px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.main_contents > .edit_card_form > .card_data > .profile_image {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 240px;
}

.main_contents > .edit_card_form > .card_data > .profile_image > img {
	margin: 20px;
	width:100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.main_contents > .edit_card_form > .card_data > .profile_image > button {
	padding: 6px 12px;
	border: 1px solid #D9D9D9;
	font-size: 13px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.65);
	line-height: normal;
	cursor: pointer;
}

.main_contents > .edit_card_form > .card_data > .details {
	display: flex;
	flex-direction: column;
}

.main_contents > .edit_card_form > .card_data > .details > .top,
.main_contents > .edit_card_form > .card_data > .details > .bottom {
	padding: 5px;
	display: flex;
	gap: 5px;
	width: 655px;
}

.main_contents > .edit_card_form > .card_data > .details > .top {
	border-bottom: 1px solid #CDCDCD;
}

.main_contents > .edit_card_form > .card_data > .details > .top > .column,
.main_contents > .edit_card_form > .card_data > .details > .bottom > .column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_contents > .edit_card_form > .card_data > .details > .top > .column > .row,
.main_contents > .edit_card_form > .card_data > .details > .bottom > .column > .row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_contents > .edit_card_form > .card_data > .details > .top > .column > .row > .title,
.main_contents > .edit_card_form > .card_data > .details > .bottom > .column > .row > .title {
	padding: 15px 5px 5px 5px;
	width: 100%;
	font-size: 13px;
	color: #999;
	line-height: 1.5;
}

.main_contents > .edit_card_form > .card_data > .details > .top > .column > .row > input,
.main_contents > .edit_card_form > .card_data > .details > .bottom > .column > .row > input {
	margin-bottom: 5px;
	padding: 6px 12px;
	width:100%;
	height: 32px;
	border: 1px solid #CCC;
	background-color: #F8F8F8;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
	font-size: 13px;
	color: #555;
	outline: none;
}