.modal {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.modal > .window {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	background-color: white;
}

.modal > .change_info {
	width: 320px;
}

.modal > .change_info > .title {
	position: relative;
	padding: 16px 24px;
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #E8E8E8;
}

.modal > .change_info > .title > span {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	line-height: normal;
}

.modal > .change_info > .title > .close_modal {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	cursor: pointer;
}

.modal > .change_info > .title > .close_button > img {
	pointer-events: none;
}

.modal > .change_info > .input_wrapper {
	padding: 24px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal > .change_info > .input_wrapper > input {
	padding: 6px 11px;
	width: 100%;
	height: 40px;
	border: 1px solid #D9D9D9;
	background-color: #FAFAFA;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 1.5;
	transition: 300ms;
	outline: none;
}

.modal > .change_info > .input_wrapper > input:hover,
.modal > .change_info > .input_wrapper > input:active {
	border-color: #0D0C0C;
}

.modal > .change_info > .input_wrapper > span {
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}

.modal > .change_info > .buttons {
	padding: 10px 16px;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	width: 100%;
	height: 61px;
	border-top: 1px solid #E8E8E8;
}

.modal > .change_info > .buttons > button,
.modal > .leave_team > .buttons > button {
	padding: 0 15px;
	height: 100%;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	cursor: pointer;
	transition: 300ms;
}

.modal > .leave_team > .buttons > button {
	line-height: 32px;
}

.modal > .change_info > .buttons > .cancel_button,
.modal > .leave_team > .buttons > .cancel_button {
	border: 1px solid #D9D9D9;
	color: rgba(0, 0, 0, 0.65);
}

.modal > .change_info > .buttons > .cancel_button:hover,
.modal > .leave_team > .buttons > .cancel_button:hover {
	border-color: #403C3C;
}

.modal > .change_info > .buttons > .submit_button,
.modal > .leave_team > .buttons > .confirm_button {
	background-color: #403C3C;
	color: white;
}

.modal > .leave_team > .buttons > .submit_button {
	background-color: #FF5252;
	color:white;
}

.modal > .leave_team {
	padding: 15px 20px;
	width: 400px;
}

.modal > .leave_team > .message {
	margin-top: 8px;
	width: 100%;
	font-size: 15px;
	color: #666;
}

.modal > .leave_team > .buttons {
	margin-top: 24px;
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	width: 100%;
	height: 32px;
}

.modal > .change_memo,
.modal > .change_group {
	width: 450px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal > .change_memo > .title,
.modal > .change_group > .title {
	position: relative;
	padding: 15px;
	width: 100%;
}

.modal > .change_memo > .title > span,
.modal > .change_group > .title > span {
	font-size: 17px;
	font-weight: 500;
}

.modal > .change_memo > .title > button,
.modal > .change_group > .title > button {
    position: absolute;
    top: 0;
    right: 0;
	width: 50px;
    height: 50px;
    cursor: pointer;
}

.modal > .change_memo > .title > button > img,
.modal > .change_group > .title > button > img {
	pointer-events: none;
}

.modal > .change_memo > .input_wrapper {
	padding: 25px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal > .change_memo > .input_wrapper > textarea {
	padding: 6px 12px;
	width: 100%;
	min-height: 32px;
	border: 1px solid #CCC;
	background-color: #F5F5F5;
	font-size: 13px;
	color: #555;
	line-height: 1.5;
	resize: vertical;
	outline: none;
	transition: 300ms; 
}

.modal > .change_memo > .input_wrapper > textarea:focus {
	border-color: #00BD5D;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(0, 189, 93, 0.6);
}

.modal > .change_memo > .input_wrapper > .disabled {
	cursor: not-allowed;
}

.modal > .change_memo > .input_wrapper > h4 {
	font-size: 17px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.85);
	text-align: center;
}

.modal > .change_memo > .input_wrapper > .texts {
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal > .change_memo > .input_wrapper > span,
.modal > .change_memo > .input_wrapper > .texts > span {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 1.5;
	text-align: center;
}

.modal > .change_memo > .input_wrapper > span + span {
	margin-top: 3px;
}

.modal > .change_memo > .input_wrapper > .buttons {
	margin-top: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 30px;
}

.modal > .change_memo > .input_wrapper > .buttons > button {
	padding: 6px 12px;
	width: 100%;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.modal > .change_memo > .input_wrapper > .buttons > .cancel_button {
	border: 1px solid #D9D9D9;
	background-color: white;
	transition: 300ms;
}

.modal > .change_memo > .input_wrapper > .buttons > .cancel_button:hover {
	border-color: #333;
}

.modal > .change_memo > .input_wrapper > .buttons > .submit_button {
	border: 1px solid #262626;
	background-color: #333;
	color: white;
}

.modal > .change_memo > .input_wrapper > .buttons > .submit_button:disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.65;
}

.modal > .change_memo > .input_wrapper > .buttons > .remove_button {
	background-color: #FF5252;
	color: white;
}

.modal > .change_group > .group_wrapper {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal > .change_group > .group_wrapper > span {
	padding: 15px 0;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.65);
	line-height: 1.5;
}

.modal > .change_group > .group_wrapper > span > .card_count {
	font: inherit;
	font-weight: bold;
	color: #00BD5D;
}

.modal > .change_group > .group_wrapper > .group_list {
	padding: 5px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 355px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #F5F5F5;
}

.modal > .change_group > .group_wrapper > .group_list > .group {
	display: flex;
	align-items: center;
	width: 100%;
	height: 24px;
	cursor: pointer;
	gap: 10px;
}

.modal > .change_group > .group_wrapper > .group_list > .group > input,
.modal > .change_group > .group_wrapper > .group_list > .group > span {
	pointer-events: none;
}

.modal > .change_group > .group_wrapper > .group_list > .group > span {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.65);
}

.modal > .change_group > .group_wrapper > .group_list > .add_new_group {
	margin: 6px 0;
	padding:5px 10px;
	height: 30px;
	border: 1px solid #D9D9D9;
	background-color: white;
	font-size: 12px;
	font-weight: 400;
	color: #333;
	line-height: 1.5;
	cursor: pointer;
}

.modal > .change_group > .group_wrapper > .group_list > .add_new_group.hidden {
	display: none;
}

.modal > .change_group > .buttons {
	padding: 0 15px 30px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.modal > .change_group > .buttons > button {
	padding: 6px 12px;
	width: 355px;
	background-color: #1A1A1A;
	font-size: 14px;
	font-weight: 400;
	color: white;
	cursor: pointer;
	
}