<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="stylesheet" href="/static/css/career/profileHeader.css">
    <link rel="stylesheet" href="/static/css/career/profileMain.css">
</head>
<body>
   <div class="container">
     <header>
        <div class="header_in">
            <div class="header_top">
                <div class="header_nav">
                    <div class="logo">
                        <img src="/static/images/main_logo.svg" alt="리멤버 로고">
                    </div>
                    <nav>
                        <a href="#">커리어</a>
                        <a href="#">커뮤니티</a>
                        <a href="#">나우</a>
                        <a href="#">명함첩</a>
                    </nav>
                </div>
                <div class="header_sign">
                    <div class="sign">
                        <ul>
                            <li><a href="#">로그인</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>                      
                    </div>   
                </div>
            </div>
        </div>
        <div class="header_add">
            <div class="add_menu">
                <ul>
                    <li><a href="#">리멤버 프로필</a></li>
                    <li><a href="#">기업용 서비스</a></li>
                </ul>
            </div>
        </div>
     </header>
     <main>
        <div class="main_img">
            <h1>당장 이직 생각없어도<br> 스카웃 제안부터 받아보세요!</h1>
            <button>스카웃 제안 받기</button>
        </div>
        <div class="con_company">
            <h2>누적 <span>2,221,729</span>건</h2>
            <p class="title_day">(2022년 5월 기준)</p>
            <p class="company_sub">국내외 유수의 기업들이<br>리멤버에 프로필을 등록한 분들에게<br>
                매일 1만건 이상의 스카웃 제안을 발송하고 있습니다.</p>
            <img src="/static/images/career_main_company.webp" alt="">
        </div>
        <div class="scout_box">
            <div class="con_scout">
                <div class="scout_des">
                    <h1>스카웃 제안 프로세스는 이렇게 진행 됩니다!</h1>
                </div>
                    <div class="scout_info">
                        <div class="scout_order">
                            <div class="order_info">
                                <img src="/static/images/career_content_process1.svg" alt="">
                                <h4>01.프로필 등록</h4>
                                <p>리멤버 프로필에 이력을<br>간단히 작성하여 등록</p>
                            </div>                   
                        </div>
                        <div class="scout_order">
                            <div class="order_info">
                                <img src="/static/images/career_content_process2.svg" alt="">
                                <h4>02.스카웃 제안 수신</h4>
                                <p>채용담당자가 직접 인재를<br>검색하고 스카웃 제안을 발송</p>
                            </div>                   
                        </div>
                        <div class="scout_order">
                            <div class="order_info">
                                <img src="/static/images/career_content_process3.svg" alt="">
                                <h4>03.제안 수락</h4>
                                <p>스카웃 제안을 수락하면,<br>채용 담당자가 이후 절차 안내</p>
                            </div>                   
                        </div>
                    </div>
                    <div style="width: 100px; height:1px; background-color:rgb(33, 35, 34); margin:96px 0;"></div>
                    <div class="profile_register">
                        <div class="register_img">
                            <img src="/static/images/career_content_profile.webp" alt="">
                        </div>
                        <div class="register_des">
                            <h2>1분이면 끝나는<br>손쉬운 프로필 등록</h2>
                            <p>경력,전문분야 등의 정보만 간단히 작성하여도<br>스카웃 제안을받을 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="profile_register">
                        <div class="register_des">
                            <h2>나의 가치를 높여줄<br>수준있는 스카웃 제안</h2>
                            <p>나의 직무 역량과 커리어 패스를 성장시킬<br>포지션을 제안 받을 수 있습니다.</p>
                        </div>
                        <div class="register_img">
                            <img src="/static/images/career_content_scout.webp" alt="">
                        </div>
                    </div>
                    <div class="profile_register open">
                        <div class="register_img">
                            <img src="/static/images/career_content_open.webp" alt="">
                        </div>
                        <div class="register_des">
                            <h2>재직 중인 회사에게는<br>프로필 비공개</h2>
                            <p>재직 중인 회사는 내 프로필을 찾을 수 없고,<br>프로필 열람을 차단할 회사를 추가할 수 있습니다.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="con_interview">
            <div class="interview_title">
                <h1>스카웃 제안으로 이직하신 분들의<br>후기를 살펴보세요!</h1>
            </div>
            <div class="interview">
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
                <div class="interview_list">
                    <span><img src="/static/images/career_interview_quote.png" alt=""></span>
                    <p>알림이 뜨길래 리멤버 프로필을 등록했고, 요구하는 항목들만 채웠어요. 그 행동이 기회를 가져다 준 것 같아서 신기해요.</p>
                    <div class="list_name">
                        <p>한화자산운용으로 이직한 송지연님</p>
                        <img src="/static/images/career_content_hanhwa.png" alt="">
                    </div>
                    <a href="#" class="interview_btn">인터뷰 보러가기</a>
                </div>
            </div>

            
        </div>
     </main>
   </div> 
</body>
</html>