<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리멤버 - 커리어</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/career/header.css">
    <link rel="stylesheet" href="/static/css/community/footer.css">
    <link rel="stylesheet" href="/static/css/career/profile.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="header_wrapper">
                <a href="#" class="logo">
                    <img src="/static/images/career_header_logo.png">
                </a>
            </div>
        </header>
        <main>
            <form class="profile_form">
                <div class="header">
                    <div class="form_title">
                        <span>01 기본정보</span>
                    </div>
                    <div class="title_underline"></div>
                    <div class="title_description">
                        <span class="text big">커리어 맞춤 제안을 위한 첫걸음</span>
                        <span class="text">현재 재직 중이거나, 이전에 재직 중이었던 회사 정보를 입력하세요</span>
                    </div>
                </div>
                <div class="fields">
                    <div class="input_wrapper">
                        <div class="input_title">
                            <span>이름</span>
                            <div class="essential">
                                <img src="/static/images/career_profile_input_star.png">
                            </div>
                        </div>
                        <input type="text" name="name" placeholder="이름 입력">
                    </div>
                    <div class="input_wrapper">
                        <div class="input_title">
                            <span>회사</span>
                            <div class="essential">
                                <img src="/static/images/career_profile_input_star.png">
                            </div>
                        </div>
                        <input type="text" name="name" placeholder="회사명 입력" readonly>
                    </div>
                    <div class="multi_input">
                        <div class="input_wrapper">
                            <div class="input_title">
                                <span>부서</span>
                            </div>
                            <input type="text" name="name" placeholder="예) 사업전략">
                        </div>
                        <div class="input_wrapper">
                            <div class="input_title">
                                <span>직책</span>
                            </div>
                            <input type="text" name="name" placeholder="예) 전략 총괄/전무">
                        </div>
                    </div>
                    <div class="multi_input">
                        <div class="input_wrapper">
                            <div class="input_title">
                                <span>입사</span>
                                <div class="essential">
                                    <img src="/static/images/career_profile_input_star.png">
                                </div>
                            </div>
                            <div class="multi_input">
                                <div class="input_wrapper">
                                    <select name="join_year">
                                        <option value="">연도</option>
                                    </select>
                                    <div class="joining_flag_wrapper">
                                        <input type="checkbox" class="joining_flag" name="joining_flag">
                                        <span>재직중</span>
                                    </div>
                                </div>
                                <div class="input_wrapper">
                                    <select name="join_month">
                                        <option value="">월</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="multi_input">
                            <div class="input_wrapper">
                                <div class="input_title">
                                    <span>퇴사</span>
                                    <div class="essential">
                                        <img src="/static/images/career_profile_input_star.png">
                                    </div>
                                </div>
                                <div class="multi_input">
                                    <div class="input_wrapper">
                                        <select name="leave_year">
                                            <option value="">연도</option>
                                        </select>
                                    </div>
                                    <div class="input_wrapper">
                                        <select name="leave_month">
                                            <option value="">월</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="multi_input">
                        <div class="input_wrapper">
                            <div class="input_title">
                                <span>총 경력 연수</span>
                            </div>
                            <input type="text" name="career_year" placeholder="예) 15">
                        </div>
                        <div class="input_wrapper">
                            <div class="input_title">
                                <span>이직 의향</span>
                            </div>
                            <select name="turnover_flag">
                                <option value="1">현재 이직을 고려 중</option>
                                <option value="0">좋은 제안이라면 고려해볼 것</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="next_form" disabled>다음</button>
                </div>
            </form>
        </main>
        <footer>
            <div class="footer_wrapper">
                <div class="links">
                    <a href="#">회사소개</a>
                    <a href="#">이용약관</a>
                    <a href="#" class="bold">개인정보처리방침</a>
                    <a href="#">도움말</a>
                    <a href="#">광고상품</a>
                    <button type="button" class="relate_service_modal">
                        <span class="text">관련 서비스</span>
                        <span class="arrow"></span>
                    </button>
                </div>
                <div class="copyrights">
                    <span class="row">대표전화 : 02-556-4202</span>
                    <span class="row">06158 서울시 강남구 테헤란로79길 6, 6층 (삼성동, 제이에스타워) (대표자:최재호) 사업자등록번호 : 211-88-81111</span>
                    <div class="row">
                        <a href="#" class="company_number">통신판매업 신고번호: 2016-서울강남-03104호</a>
                        <span class="company_number">직업정보제공사업 신고번호: 서울강남 제2019-11호</span>
                        <span class="company_number">유료직업소개사업 신고번호: 2020-3220237-14-5-00003</span>
                    </div>
                    <span class="row">Copyright 2019. Drama & Company All rights reserved.</span>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>