footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.footer_in{
    width: 1120px;
}

.footer_menu{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
    
}

.footer_menu a::after{
    position: relative;
    top: -1px;
    content: '|';
    padding: 0 10px;
    font-size: 12px;
    color: #8c8c8c;
    font-weight: 200;
}

.footer_menu a:nth-child(5)::after{
    content: none;
}

.footer_menu a:nth-child(3){
    font-weight: bold;
}

.footer_menu a{
    font-size: 14px;
    color: #8c8c8c;
    line-height: 24px;
    
}

.footer_menu button{
    margin-left: 24px;
    width: 132px;
    height: 38px;
    line-height: 24px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 14;
    font-weight: 600;
    padding: 7px 10px;
    cursor: pointer;
    
}

.footer_copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

address{
    font-style: normal;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;

}

.footer_copyright p {
    font-weight: 400;
    font-size: 12px;
    color: #8c8c8c;
}