@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300&display=swap');

main {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_center_title {
    color: #000;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
}

.service_center_subtitle {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    width: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.header {
    text-align: center;
    border-bottom: 1px solid rgb(229, 229, 230);
    background-color: #fff;
    padding: 6px 0;
}

.header img {
    width: 75px;
    height: auto
}

.service_center_content {
    margin-top: 36px;
    width: 350px;
}

.ask_button {
    margin-top: 12px;
    font-size: 15px;
    width: 350px;
    display: block;
    outline: none;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    align-items: center;
}

.service_center_footer{
    margin-top: 16px;
    text-align: center;
}

.service_center_footer_title{
    display: flex;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.service_center_footer_title img{
    vertical-align: baseline;
    margin-right: 4px;
    padding-bottom: 2px;
}

.service_center_footer_subtitle {
    margin-top: 2px;
    color: #999;
    font-size: 13px;
}
.input_email_footer span {
    font-size: 15px;
    color: #333;
}

.input_email_footer a{
    font-size: 15px;
    color: #333;
    font-weight: bolder;
    text-decoration: underline;
}