<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article title</title>
    <link rel="stylesheet" href="/static/css/container.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/now/header.css">
    <link rel="stylesheet" href="/static/css/now/footer.css">
    <link rel="stylesheet" href="/static/css/now/article_detail.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/now/request_flag.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/static/images/remember_now_logo.png">
            </div>
        </header>
        <main>
            <div class="article_detail">
                <div class="upload_time"></div>
                <p>
                    <strong>
                        <span class="title" style="font-size: 29px;"></span>
                    </strong>
                </p>
                <p class="main_image">
                    <img src="">
                </p>
                <div class="description"></div>
                <div class="insight_card">
                    <div class="insight_logo">
                       
                    </div>
                    <div class="insight_summary">
                        <a href="#" class="insight_title">
                            <span></span>
                            <img src="">
                        </a>
                        <div class="insight_description">
                            <span></span>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="divide_line"></div>
            </div>
            <div class="another_articles">
                <span class="header">다른글</span>
                
            </div>
        </main>
        <footer>
            <div class="footer_wrapper">
                <a href="#" class="footer_logo">
                    <img src="/static/images/community_remember_now_logo.webp">
                </a>
                <span class="footer_text">'리멤버 나우'는 '직장인 필수앱 리멤버'가 제공합니다.</span>
                <div class="footer_links">
                    <a href="#" class="link">회사 소개</a>
                    <a href="#" class="link">리멤버 앱 다운로드</a>
                    <a href="#" class="link">광고상품</a>
                    <a href="#" class="link">문의하기</a>
                </div>
                <button type="button" class="related_services">
                    <span class="text">관련서비스</span>
                    <img src="/static/images/icon_arrow_down_black.svg">
                </button>
            </div>
        </footer>
		</div>
		
		<script src="/static/js/now/load_now_article_detail.js"></script>
</body>

</html>