header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(33, 35, 34);
    z-index: 1;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    height: 100%;
}

.header_wrapper>.left {
    display: flex;
    align-items: center;
    height: 40px;
}

.logo {
    height: 19px;
}

.logo>img {
    height: 19px;
}

.searcher {
    position: relative;
    margin-left: 40px;
    padding: 12px 12px 12px 33px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;
    border: none;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
}

.search_icon {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
}

.search_icon>img {
    width: 100%;
    height: 100%;
}

.searcher_input {
    width: 100%;
    height: 100%;
    border: none;
    background: rgb(245, 245, 245);
    font-size: 14px;
    line-height: 1;
    color: rgb(100, 100, 100);
    outline: none;
}

.header_wrapper>.right {
    display: flex;
    align-items: center;
    height: 40px;
}

.signin,
.signup {
    padding: 0 20px;
    width: 84px;
    height: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    color: rgb(33, 35, 34);
    line-height:40px;
}

.signup {
    margin-left: 10px;
    width: 94px;
    border: 1px solid rgb(40, 100, 240);
    background-color: rgb(40, 100, 240);
    color: white;
}

.modal_wrapper {
	position: relative;
	cursor: pointer;
}

.modal_wrapper + .modal_wrapper {
	margin-left: 8px;
}

.hover_my_menu_button,
.toggle_alert_modal_button {
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 100%;
}

.toggle_alert_modal_button {
	cursor: pointer;
}

.hover_my_menu_button > img,
.toggle_alert_modal_button > img {
	width: 24px;
	height: 24px;
	pointer-events: none;
}

.modal_wrapper > .alert_modal {
	position: absolute;
	top: 35px;
	right: 24px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	width: 352px;
	height: 626px; 
	border-radius: 10px;
	background-color: white;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
}

.modal_wrapper > .alert_modal.active {
	opacity: 1;
}

.modal_wrapper > .alert_modal > .no_alerts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	width: 100%;
}

.modal_wrapper > .alert_modal > .no_alerts > img {
	margin-bottom: 11px;
}

.modal_wrapper > .alert_modal > .no_alerts > .text {
	font-size: 14px;
	font-weight: 400;
	color: rgb(100, 100, 100);
	line-height: normal;
}

.modal_wrapper > .my_menu {
	position: absolute;
	top: 40px;
	right: 0;
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 236px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px 0px;
	opacity: 0;
	transition: 500ms;
}

.modal_wrapper > .my_menu.active {
	opacity: 1;
}

.modal_wrapper > .my_menu > .link {
	padding: 10px 20px;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	color: rgb(51, 51, 51);
	line-height: normal;
	cursor: pointer;
}