.modal {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.modal + .modal {
	z-index: 2;
}

.modal > .window {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	background-color: white;
}

.modal > .not_login {
	padding: 24px;
	width: 360px;
}

.modal > .not_login > .title {
	margin: 16px 0 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal > .not_login > .title > .text {
	font-size: 16px;
	font-weight: 600;
	color: rgb(33, 35, 34);
	line-height: 26px;
}

.modal > .not_login > .login_link,
.modal > .not_login > .login_link > a {
	font-size: 12px;
	font-weight: 400;
	color: rgb(100, 100, 100);
	line-height: 19px;
}

.modal > .not_login > .login_link > a {
	text-decoration: underline;
	cursor: pointer;
}

.modal > .not_login > .buttons {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 44px;
}

.modal > .not_login > .buttons > button {
	padding: 0 20px;
	width: 152px;
	height: 100%;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
}

.modal > .not_login > .buttons > .close_modal {
	border: 1px solid rgb(204, 204, 204);
	background-color: white;
	color: rgb(33, 35, 34);
}

.modal > .not_login > .buttons > .to_signup_button {
	border: 1px solid rgb(33, 35, 34);
	background-color: rgb(33, 35, 34);
	color: white;
}

.modal > .profile_form {
	width: 635px;
}

.modal > .profile_form > .title {
	padding: 24px 30px;
	width: 100%;
	height: 74px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	line-height: normal;
}

.modal > .profile_form > form {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal > .profile_form > form > .input_wrapper {
	margin-bottom: 24px;
	display: flex;
	flex-direction: column;
}

.modal > .profile_form > form > .input_wrapper:nth-child(4) {
	margin-bottom: 8px;
}

.modal > .profile_form > form > .input_wrapper > .title {
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.modal > .profile_form > form > .input_wrapper > .title > .text {
	font-size: 14px;
	font-weight: normal;
	color: rgb(100, 100, 100);
}

.modal > .profile_form > form > .input_wrapper > .title > img {
	width: 6px;
	height: 6px;
}

.modal > .profile_form > form > .input_wrapper > input {
	padding: 11px 12px;
	width: 100%;
	height: 44px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 4px;
	font-size: 15px;
	font-weight: normal;
	color: rgb(51, 51, 51);
	outline: none;
}

.modal > .profile_form > form > .input_wrapper > input::placeholder {
	color: rgb(216, 216, 216);
}

.modal > .profile_form > form > .text {
	margin-bottom: 24px;
	font-size: 13px;
	font-weight: normal;
	color: rgb(100, 100, 100);
	line-height: normal;
}

.modal > .profile_form > .buttons {
	padding: 12px 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 73px;
	border-top: 1px solid rgb(235, 235, 235);
}

.modal > .profile_form > .buttons > button {
	width: 116px;
	height: 48px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.modal > .profile_form > .buttons > button:disabled {
	background-color: rgb(204, 204, 204);
	cursor: default;
}

.modal > .profile_form > .buttons > .close_modal {
	background-color: rgb(133, 133, 133);
	color: white;
}

.modal > .profile_form > .buttons > .submit_detail {
	margin-left: 6px;
	background-color: rgb(225, 154, 17);
	color: white;
}

.modal > .join_category {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

.modal > .join_category > .text {
	line-height: normal;
}

.modal > .join_category > .text.category {
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	color: rgb(224, 165, 38);
}

.modal > .join_category > .text.big {
	margin-bottom: 16px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(33, 35, 34);
}

.modal > .join_category > .text.small {
	margin-bottom: 30px;
	font-size: 13px;
	font-weight: normal;
	color: rgb(100, 100, 100);
}

.modal > .join_category > .buttons {
	padding: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 77px;
	border-top: 1px solid rgb(235, 235, 235);
	gap: 6px;
}

.modal > .join_category > .buttons > button {
	padding: 0 24px;
	width: 100%;
	height: 52px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	line-height: 52px;
	text-align: center;
	cursor: pointer;
}

.modal > .join_category > .buttons > .close_modal {
	background-color: rgb(100, 100, 100);
}

.modal > .join_category > .buttons > .join_category_button {
	background-color: rgb(33, 35, 34);
}

.modal > .register_article {
	padding: 40px 24px 24px;
	display: flex;
	flex-direction: column;
	width: 620px;
}

.modal > .register_article > .title {
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.modal > .register_article > .writer {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: rgb(174, 174, 174);
	line-height: 24px;
}

.modal > .register_article > hr {
	margin: 12px 0 24px;
	width: 620px;
	height: 1px;
	border: none;
	background-color: rgb(235, 235, 235);
}

.modal > .register_article > form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal > .register_article > form > .row {
	position: relative;
	display: none;
}

.modal > .register_article > form > .row.active {
	display: block;
}

.modal > .register_article > form > .row > .community_selector,
.modal > .register_article > form > .row > .tag_selector,
.modal > .register_article > form > .row >.add_image_button {
	position: relative;
	margin-bottom: 12px;
	padding: 12px 0;
	width: 100%;
	height: 51px;
	border-bottom: 1px solid rgb(235, 235, 235);
	background-color: white;
	font-size: 16px;
	font-weight: 400;
	color: rgb(33, 35, 34);
	line-height: 26px;
	cursor: pointer;
}

.modal > .register_article > form > .row >.add_image_button {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	color: rgb(174, 174, 174);
	cursor: pointer;
}

.modal > .register_article > form > .row >.add_image_button > input {
	display: none;
}

.modal > .register_article > form > .row > .community_selector.clicked,
.modal > .register_article > form > .row > .tag_selector.clicked {
	border-color: rgb(40, 100, 240);
}

.modal > .register_article > form > .row > .community_selector::after,
.modal > .register_article > form > .row > .tag_selector::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background: url("/static/images/insert_new_article_selector_down.svg");
}

.modal > .register_article > form > .row > .community_selector.clicked::after,
.modal > .register_article > form > .row > .tag_selector.clicked::after {
	background: url("/static/images/insert_new_article_selector_up.svg");
}

.modal > .register_article > form > .row.disabled > .community_selector {
	background-color: rgb(245, 245, 245);
	color: rgb(174, 174, 174);
	cursor: default;
}

.modal > .register_article > form > .row.disabled > .community_selector::after {
	background: none;
}

.modal > .register_article > form > .row > .categories,
.modal > .register_article > form > .row > .tags {
	position: absolute;
	top: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 16px;
	max-height: 220px;
	border: 1px solid rgb(204 204 204);
	border-radius: 4px;
	background-color: white;
	overflow: scroll scroll;
	z-index: 1;
}

.modal > .register_article > form > .row > .categories > .title {
	padding: 12px 20px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 52px;
	gap: 4px;
}

.modal > .register_article > form > .row > .categories > .title > .icon {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.modal > .register_article > form > .row > .categories > .title > .text {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}

.modal > .register_article > form > .row > .categories > .title > .icon.insight {
    background-color: rgb(40, 100, 240);
}

.modal > .register_article > form > .row > .categories > .title > .icon.insight + .text {
	color: rgb(40, 100, 240);
}

.modal > .register_article > form > .row > .categories > .title > .icon.job {
	background-color: rgb(224, 165, 38);
}

.modal > .register_article > form > .row > .categories > .title > .icon.job + .text {
	color: rgb(224, 165, 38);
}

.modal > .register_article > form > .row > .categories > .title > .icon.subject {
	background-color: rgb(48, 176, 153);
}

.modal > .register_article > form > .row > .categories > .title > .icon.subject + .text {
	color: rgb(48, 176, 153);
}

.modal > .register_article > form > .row > .categories > .category,
.modal > .register_article > form > .row > .tags > .tag {
	padding: 8px 48px;
	width: 100%;
	height: 44px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	cursor: pointer;
}

.modal > .register_article > form > .row > .categories > .category:hover,
.modal > .register_article > form > .row > .tags > .tag:hover {
	background-color: rgb(245, 245, 245);
}

.modal > .register_article > form > .row > .categories > .separator {
	margin: 0 20px;
	height: 1px;
	border: none;
	background-color: rgb(204, 204, 204);
}

.modal > .register_article > form > input {
	margin-bottom: 12px;
	padding: 12px 0;
	width: 100%;
	height: 51px;
	border: none;
	border-bottom: 1px solid rgb(235, 235, 235);
	font-size: 16px;
	font-weight: 400;
	color: rgb(33, 35, 34);
	line-height: 26px;
	outline: none;
}

.modal > .register_article > form > input::placeholder,
.modal > .register_article > form > textarea::placeholder {
	color: rgb(174, 174, 174);
}

.modal > .register_article > form > textarea {
	padding: 12px 0;
	width: 100%;
	height: 220px;
	border: none;
	font-size: 16px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	line-height: 26px;
	outline: none;
	resize: none;
}

.modal > .register_article > form > textarea::placeholder {
	white-space: pre-line;
}

.modal > .register_article > form > .modal_image_wrapper {
	padding: 12px 0 24px;
	display: none;
	flex-direction: row;
	width: 100%;
	gap: 12px;
	overflow-x: auto;
}

.modal > .register_article > form > .modal_image_wrapper::-webkit-scrollbar {
    height: 10px;
}

.modal > .register_article > form > .modal_image_wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(174, 174, 174);
    border-radius: 5px;
}

.modal > .register_article > form > .modal_image_wrapper.active {
	display: flex;
}

.modal > .register_article > form > .modal_image_wrapper > .image_box {
    position: relative;
    padding-bottom: calc(20% - 9.6px);
    flex-shrink: 0;
	width: calc(20% - 9.6px);
    height: 0px;
    border: 1px solid rgb(204, 204, 204);
    overflow: hidden;
}

.modal > .register_article > form > .modal_image_wrapper > .image_box > .image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal > .register_article > form > .modal_image_wrapper > .image_box > .hover_blind {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
	visibility: hidden;
}

.modal > .register_article > form > .modal_image_wrapper > .image_box > .delete_image_button {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
	visibility: hidden;
	cursor: pointer;
}

.modal > .register_article > form > .modal_image_wrapper > .image_box:hover > .hover_blind,
.modal > .register_article > form > .modal_image_wrapper > .image_box:hover > .delete_image_button {
	visibility: visible;
}

.modal > .register_article > form > .buttons {
	margin-top: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 44px;
}

.modal > .register_article > form > .buttons > .checkbox_wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 10px;
}

.modal > .register_article > form > .buttons > .checkbox_wrapper > input {
	appearance: none;
	width: 20px;
	height: 20px;
	background: url("/static/images/insert_new_article_unchecked_checkbox.svg");
	cursor: pointer;
}

.modal > .register_article > form > .buttons > .checkbox_wrapper > input:checked {
	background: url("/static/images/insert_new_article_checked_checkbox.svg");
}

.modal > .register_article > form > .buttons > .checkbox_wrapper > .text {
	font-size: 16px;
	font-weight: 400;
	color: rgb(100, 100, 100);
	line-height: 26px;
	cursor: pointer;
}

.modal > .register_article > form > .buttons > .button_wrapper {
	display: flex;
	width: 224px;
	height: 100%;
	gap: 8px;
}

.modal > .register_article > form > .buttons > .button_wrapper > button {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
}

.modal > .register_article > form > .buttons > .button_wrapper > .close_modal {
	background-color: rgb(100, 100, 100);
}

.modal > .register_article > form > .buttons > .button_wrapper > .register_article_button {
	background-color: rgb(33, 35, 34);
}

.modal > .comment_menu {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	background-color: white;
}

.modal > .comment_menu > .text {
	font-size: 12px;
	font-weight: 400;
	color: rgb(100, 100, 100);
	line-height: 19px;
}

.modal > .comment_menu > .text.bold {
	margin: 16px 0 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(33, 35, 34);
	line-height: 26px;
}

.modal > .comment_menu > .buttons {
	margin-top: 24px;
	display: flex;
	align-items: center;
	width:100%;
	height: 44px;
	gap: 8px;
}

.modal > .comment_menu > .buttons > button {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
}

.modal > .comment_menu > .buttons > .cancel_button {
	border: 1px solid rgb(204, 204, 204);
	color: rgb(33, 35, 34);
}

.modal > .comment_menu > .buttons > .report_button {
	background-color: #EA5128;
	color: white;
}

.modal > .delete_confirm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	border-radius: 10px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}

.modal > .delete_confirm > .text.bold {
	padding: 48px 20px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	line-height: normal;
	text-align: center;
}

.modal > .delete_confirm > .buttons {
	padding: 12px 9px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	width: 100%;
	height: 73px;
	border-top: 1px solid rgb(238, 238, 238);
}

.modal > .delete_confirm > .buttons > button {
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	color: white;
	line-height: 48px;
	cursor: pointer;
}

.modal > .delete_confirm > .buttons > .cancel_button {
	background-color: rgb(133, 133, 133);
}

.modal > .delete_confirm > .buttons > .delete_button {
	background-color: rgb(234, 81, 40);
}

.modal > .article_delete_confirm {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
}

.modal > .article_delete_confirm > .text {
	font-size: 12px;
	font-weight: 400;
	color: rgb(100, 100, 100);
	line-height: 19px;
}

.modal > .article_delete_confirm > .text.bold {
	margin: 16px 0 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgb(33, 35, 34);
	line-height: 26px;
}

.modal > .article_delete_confirm > .buttons {
	margin-top: 24px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 44px;
	gap: 8px;
}

.modal > .article_delete_confirm > .buttons > button {
	padding: 0 20px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	line-height: 44px;
	cursor: pointer;
}

.modal > .article_delete_confirm > .buttons > .cancel_button {
	border: 1px solid rgb(204, 204, 204);
	color: rgb(33, 35, 34);
}

.modal > .article_delete_confirm > .buttons > .delete_button {
	background-color: #ea5128;
	color: white;
}