<footer th:fragment="card_footer">
    <div class="footer_wrapper">
        <div class="links">
            <a href="#">회사소개</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">도움말</a>
            <a href="#">광고상품</a>
            <a href="#">언론보도</a>
            <button type="button" class="relate_service_modal">
                <span class="text">관련 서비스</span>
                <span class="arrow"></span>
            </button>
        </div>
        <div class="copyrights">
            <span class="row">대표전화 : 02-556-4202</span>
            <span class="row">06158 서울시 강남구 테헤란로79길 6, 6층 (삼성동, 제이에스타워) (대표자:최재호) 사업자등록번호 : 211-88-81111</span>
            <div class="row">
                <a href="#" class="company_number">통신판매업 신고번호: 2016-서울강남-03104호</a>
                <span class="company_number">직업정보제공사업 신고번호: 서울강남 제2019-11호</span>
                <span class="company_number">유료직업소개사업 신고번호: 2020-3220237-14-5-00003</span>
            </div>
            <span class="row">Copyright 2019. Drama & Company All rights reserved.</span>
        </div>
    </div>
</footer>