<header th:fragment="community_header">
    <div class="header_wrapper">
        <div class="left">
            <a href="#" class="logo">
                <img src="/static/images/community_logo.png" alt="커뮤니티 로고">
            </a>
            <div class="searcher">
                <span class="search_icon">
                    <img src="/static/images/mypage_searcher_icon.png">
                </span>
                <input type="text" name="keyword" class="searcher_input" placeholder="검색어를 입력하세요">
            </div>
        </div>
        <div class="right">
            
        </div>
    </div>
</header>